Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3 # https://circleci.com/developer/orbs/orb/circleci/path-filtering
workflows:
  generate-config:
    jobs:
      # This configuration controls how parameters are passed to workflows.yml
      # workflows.yml is where the CI/CD jobs and workflows live
      # These booleans control whether we run certain job steps
      # This is meant to provide a 'monorepo' build approach
      # The path regex tell us what change groups we are currently interested in
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            [.]aws/.* aws_changes true
            common-utils/.* common_utils_changes true
            data-products/.* data_products_changes true

fix(data-products): using wrong secret name
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
Due: data_products_changes

fix(.aws): need references to secrets to use deployment type in iam policies
  .aws/src/iam.ts
  .aws/src/main.ts
Due: aws_changes

feat(common-utils): updating the the get_gcs_stage function to allow for getting the ANALYTICS.DBT.SHARED_WITH_MOZILLA_PARQUET stage in production executions
  common-utils/src/common/databases/snowflake_utils.py
Due: common_utils_changes

feat(data-products): updating snowflake query extraction to gcs_pocket_shared stage for production
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
Due: data_products_changes

feat(data-products): updating sql query for extraction of nimbus events
  data-products/src/snowflake_query_extraction/sql/backend_events_for_mozilla/data.sql
Due: data_products_changes

feat(data-products): fixing sql query
  data-products/src/snowflake_query_extraction/sql/backend_events_for_mozilla/data.sql
Due: data_products_changes

feat(data-products): new bq_to_snowflake dataflow to replace prefect v1 version of impression_stats_v1 ingestion
  common-utils/pyproject.toml
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/settings.py
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/bq_extract_sf_load/__init__.py
  data-products/src/bq_extract_sf_load/main_flow.py
  data-products/src/bq_extract_sf_load/sql/impression_stats_v1/extract.sql
  data-products/src/bq_extract_sf_load/sql/impression_stats_v1/load.sql
  data-products/src/bq_extract_sf_load/sql/impression_stats_v1/offset.sql
Due: common_utils_changes, data_products_changes

build(data-products): adding missing prefect-gcp lib
  data-products/poetry.lock
  data-products/pyproject.toml
Due: data_products_changes

feat: new snowflake data extraction pipeline for nimbus okr and platform optimizations (#220)
  .aws/src/iam.ts
  .aws/src/main.ts
  .circleci/workflows.yml
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/pytest.ini
  common-utils/src/common/__init__.py
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/settings.py
  common-utils/src/common/testing_utils.py
  common-utils/tests/conftest.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/unit/test_common.py
  common-utils/tests/unit/test_settings.py
  common-utils/tests/unit/test_testing_utils.py
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/orchestration/.prefectignore
  data-products/src/orchestration/main_orchestration_flow.py
  data-products/src/snowflake_query_extraction/__init__.py
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
  data-products/src/snowflake_query_extraction/sql/backend_events_for_mozilla/data.sql
  data-products/src/snowflake_query_extraction/sql/backend_events_for_mozilla/offset.sql
  data-products/tests/conftest.py
  data-products/tests/orchestration/unit/test_main_orchestration_flow.py
  data-products/tests/shared/blocks/notifications/unit/test_pagerduty.py
  data-products/tests/snowflake_query_extraction/unit/sql/test/data.sql
  data-products/tests/snowflake_query_extraction/unit/sql/test/offset.sql
  data-products/tests/snowflake_query_extraction/unit/test_snowflake_query_extraction_flow.py
Due: aws_changes, common_utils_changes, data_products_changes

refactor: merging the bq_to_snowflake and snowflake_query_extract into new sql_etl flow
  common-utils/src/common/__init__.py
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/bq_extract_sf_load/main_flow.py
  data-products/src/bq_extract_sf_load/sql/impression_stats_v1/extract.sql
  data-products/src/bq_extract_sf_load/sql/impression_stats_v1/offset.sql
  data-products/src/shared/__init__.py
  data-products/src/shared/utils.py
  data-products/src/snowflake_query_extraction/__init__.py
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
  data-products/src/snowflake_query_extraction/sql/backend_events_for_mozilla/offset.sql
  data-products/src/sql_etl/__init__.py
  data-products/src/sql_etl/run_jobs.py
  data-products/src/sql_etl/sql/backend_events_for_mozilla/data.sql
  data-products/src/sql_etl/sql/impression_stats_v1/data.sql
  data-products/src/sql_etl/sql/impression_stats_v1/load.sql
  data-products/src/sql_etl/sql/impression_stats_v1/offset.sql
  data-products/tests/snowflake_query_extraction/unit/test_snowflake_query_extraction_flow.py
Due: common_utils_changes, data_products_changes

refactor: cleaning unused code
  common-utils/src/common/__init__.py
  common-utils/src/common/settings.py
  data-products/pyproject.toml
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs.py
Due: common_utils_changes, data_products_changes

refactor: updating flow name
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/snowflake_query_extraction/unit/test_snowflake_query_extraction_flow.py
Due: data_products_changes

refactor: additional changes to support better configuration
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/settings.py
  common-utils/src/common/testing_utils.py
  data-products/src/sql_etl/run_jobs_flow.py
Due: common_utils_changes, data_products_changes

refactor: optimizing function
  common-utils/src/common/settings.py
Due: common_utils_changes

refactor: fixing somethings on the flow and common-utils
  common-utils/src/common/deployment/__init__.py
  data-products/src/sql_etl/run_jobs_flow.py
Due: common_utils_changes, data_products_changes

docs(data-products/docs): initial setup for docs site
  data-products/docs/index.md
  data-products/mkdocs.yml
  data-products/poetry.lock
  data-products/pyproject.toml
Due: data_products_changes

test(common-utils): adding tests and black formatting
  common-utils/pyproject.toml
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/unit/test_settings.py
Due: common_utils_changes

test(common-utils): adding missing test
  common-utils/tests/databases/unit/test_snowflake_utils.py
Due: common_utils_changes

refactor(data-products): small change to sql_etl logic to support changes to get_gcs_stage
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

Simplify html to text converstion for article content
  Pipfile
  src/common_tasks/transform_data.py
  src/flows/parser_item_html_backfill_filesplit_flow.py
  src/flows/parser_item_html_backfill_load_flow.py
Due: none

rename for better clarity
  article_text.ipynb
  content_metrics.ipynb
  src/common_tasks/transform_data.py
Due: none

test(data-products): adding more tests
  data-products/pyproject.toml
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/shared/test_utils.py
  data-products/tests/snowflake_query_extraction/unit/sql/test/data.sql
  data-products/tests/snowflake_query_extraction/unit/sql/test/offset.sql
  data-products/tests/snowflake_query_extraction/unit/test_snowflake_query_extraction_flow.py
  data-products/tests/sql_etl/unit/sql/test/data.sql
  data-products/tests/sql_etl/unit/sql/test/load.sql
  data-products/tests/sql_etl/unit/sql/test/offset.sql
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
  data-products/tests/test.json
Due: data_products_changes

refactor(data-products): adding schedules and docstrings to flow
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

style(data-products): black formattting
  data-products/src/shared/utils.py
Due: data_products_changes

test(data-products): adding support for only marking files for deletion that live in intervals being processed
  data-products/src/shared/utils.py
  data-products/tests/shared/test_utils.py
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: data_products_changes

refactor(data-products): adding default for sql_templat_path
  data-products/src/shared/utils.py
Due: data_products_changes

fix(common-utils): fixing issue with how we pull gcp stages secret
  data-products/pyproject.toml
Due: data_products_changes

refactor: fixing how gcp stages are referenced
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

refactor: changing how gcp stages are pulled to be a better key value pair
  common-utils/pyproject.toml
  common-utils/src/common/databases/snowflake_utils.py
Due: common_utils_changes

fix: testing default path for sql template folder
  data-products/src/shared/utils.py
Due: data_products_changes

fix: fixing issue with sql template path again
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

fix: applying new sql template path logic
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

test: fixing tests
  data-products/pyproject.toml
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: data_products_changes

refactor: New sql_etl flow for managing extraction and loading data from/to big query and snowflake (#222)
  common-utils/pyproject.toml
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/settings.py
  common-utils/src/common/testing_utils.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/unit/test_settings.py
  data-products/docs/index.md
  data-products/mkdocs.yml
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/shared/__init__.py
  data-products/src/shared/utils.py
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
  data-products/src/snowflake_query_extraction/sql/backend_events_for_mozilla/offset.sql
  data-products/src/sql_etl/__init__.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/backend_events_for_mozilla/data.sql
  data-products/src/sql_etl/sql/impression_stats_v1/data.sql
  data-products/src/sql_etl/sql/impression_stats_v1/load.sql
  data-products/src/sql_etl/sql/impression_stats_v1/offset.sql
  data-products/tests/shared/test_utils.py
  data-products/tests/snowflake_query_extraction/unit/sql/test/data.sql
  data-products/tests/snowflake_query_extraction/unit/sql/test/offset.sql
  data-products/tests/snowflake_query_extraction/unit/test_snowflake_query_extraction_flow.py
  data-products/tests/sql_etl/unit/sql/test/data.sql
  data-products/tests/sql_etl/unit/sql/test/load.sql
  data-products/tests/sql_etl/unit/sql/test/offset.sql
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
  data-products/tests/test.json
Due: common_utils_changes, data_products_changes

fix(data-products): sql_etl was missing an envar value for main deployment type
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

build(data-products): version bump
  data-products/pyproject.toml
Due: data_products_changes

fix(data-products): sql_etl was missing an envar value for main deployment type (#223)
  data-products/pyproject.toml
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

fix(common-utils): added helper script for running tests per deployment type and added logic to .circleci/workflows.yml
  .circleci/workflows.yml
  common-utils/pyproject.toml
  common-utils/run_pytest.sh
Due: common_utils_changes

fix(data-products): fixing tests to work for any deployment type
  .circleci/workflows.yml
  common-utils/run_pytest.sh
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: common_utils_changes, data_products_changes

fix(common-utils): fixing unit tests to work for all deployment types
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/unit/test_settings.py
Due: common_utils_changes
