Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3 # https://circleci.com/developer/orbs/orb/circleci/path-filtering
workflows:
  generate-config:
    jobs:
      # This configuration controls how parameters are passed to workflows.yml
      # workflows.yml is where the CI/CD jobs and workflows live
      # These booleans control whether we run certain job steps
      # This is meant to provide a 'monorepo' build approach
      # The path regex tell us what change groups we are currently interested in
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            [.]aws/.* aws_changes true
            common-utils/.* common_utils_changes true
            data-products/.* data_products_changes true

fix: whitespace
  common-utils/src/common/deployment/__init__.py
Due: common_utils_changes

fix: deployment tests pass
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/unit/deployment/test_deployment.py
Due: common_utils_changes

feat(.aws): adding a more fine grained access policy for agent access to: ['ec2:DeleteNetworkInterface', 'ec2:UnassignPrivateIpAddresses']
  .aws/src/iam.ts
Due: aws_changes

build: updating common-utils hash
  data-products/poetry.lock
Due: data_products_changes

fix(Deployment): the shell commands can be safely executed (#206)
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/unit/deployment/test_deployment.py
  data-products/poetry.lock
Due: common_utils_changes, data_products_changes

feat: Changes to Support the Deployment of Data Products Prefect Flows as a Subproject plus Refactoring (#201)
  .aws/.docker/agent/Dockerfile
  .aws/README.md
  .aws/src/config/index.ts
  .aws/src/iam.ts
  .aws/src/main.ts
  .aws/tsconfig.json
  .circleci/README.md
  .circleci/config.yml
  .circleci/workflows.yml
  README.md
  common-utils/README.md
  common-utils/common_utils_build.sh
  common-utils/pyproject.toml
  common-utils/pytest.ini
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/build_image.sh
  common-utils/src/common/deployment/check_version.py
  common-utils/src/common/deployment/cli.py
  common-utils/tests/test_flows/flow_group_1/example_flow.py
  common-utils/tests/unit/deployment/testDockerfile1
  common-utils/tests/unit/deployment/testDockerfile2
  common-utils/tests/unit/deployment/test_check_version.py
  common-utils/tests/unit/deployment/test_cli.py
  common-utils/tests/unit/deployment/test_deployment.py
  data-products/.coveragerc
  data-products/.docker/base/Dockerfile
  data-products/README.md
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/orchestration/.prefectignore
  data-products/src/orchestration/main_orchestration_flow.py
  data-products/tests/orchestration/unit/test_main_orchestration_flow.py
Due: aws_changes, common_utils_changes, data_products_changes

ci: needed to put oidc and ecr creation into new stack and update circleci config accordingly
  .aws/src/config/index.ts
  .aws/src/iam.ts
  .aws/src/main.ts
Due: aws_changes

ci: checking in the circleci changes
  .circleci/workflows.yml
Due: none

ci: base-revision on the path filtering was not right
  .circleci/config.yml
Due: none

ci: working through a CI issue
  .circleci/workflows.yml
Due: none

ci: moving tf plan to native cdktf cli via npm
  .aws/package.json
  .circleci/workflows.yml
Due: aws_changes

ci: adding missing commands
  .circleci/workflows.yml
Due: none

ci: trying with missing wrapper script
  .circleci/workflows.yml
Due: none

ci: adding workspace logic back
  .circleci/workflows.yml
Due: none

ci: working through ci issues
  .circleci/workflows.yml
Due: none

ci: fixing issue with package name
  .aws/package.json
Due: aws_changes

ci: moving terraform back to a single job
  .circleci/workflows.yml
Due: none

ci: removing bad config
  .circleci/workflows.yml
Due: none

ci: adding if statement for plan vs apply
  .circleci/workflows.yml
Due: none

ci: fixing agent docker push script
  .circleci/workflows.yml
Due: none

initial commit (#205)
  src/flows/recommendation_api/legacy_candidate_sets/curated_feeds.py
  src/flows/recommendation_api/legacy_candidate_sets/longreads.py
  src/flows/recommendation_api/legacy_candidate_sets/shortreads.py
Due: none

fix: altering POC flow for testing
  data-products/.prefectignore
  data-products/src/orchestration/main_orchestration_flow.py
Due: data_products_changes

fix(common-utils): updating the path we run prefect deployment cli from and updating the entry point to be github repo relative path
  .prefectignore
  common-utils/pyproject.toml
  common-utils/src/common/deployment/__init__.py
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/orchestration/main_orchestration_flow.py
Due: common_utils_changes, data_products_changes

build(data-products): updating common-utils dep
  data-products/poetry.lock
Due: data_products_changes

fix(common-utils): fixing references to old ecr
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/push_image.sh
  data-products/poetry.lock
Due: common_utils_changes, data_products_changes

test(commont-utils): fixing unit tests and merging fix/DIS-321-move-OIDC-to-sep-stack
  common-utils/tests/unit/deployment/test_deployment.py
Due: common_utils_changes

build: version bump
  data-products/pyproject.toml
Due: data_products_changes

fix(common-utils): updating the path we run prefect deployment cli from and updating the entry point to be github repo relative path (#208)
  .aws/package.json
  .aws/src/config/index.ts
  .aws/src/iam.ts
  .aws/src/main.ts
  .circleci/config.yml
  .circleci/workflows.yml
  .prefectignore
  common-utils/pyproject.toml
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/push_image.sh
  common-utils/tests/unit/deployment/test_deployment.py
  data-products/.prefectignore
  data-products/poetry.lock
  data-products/pyproject.toml
Due: aws_changes, common_utils_changes, data_products_changes

ci: wrapping version check in if statement to not run on main-v2 build
  .circleci/workflows.yml
Due: none

ci: had new script in the wrong place
  .circleci/workflows.yml
Due: none

ci: wrapping version check in if statement to not run on main-v2 build (#209)
  .circleci/workflows.yml
Due: none

feat: testing
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/orchestration/main_orchestration_flow.py
Due: data_products_changes

fix(dbt_orchestration): Retry on failure
  src/flows/dbt_orchestration_flow.py
Due: none

fix(braze): Increase delay
  src/flows/braze/update_flow.py
Due: none

chore(dbt_orchestration): Add comment to task parameters
  src/flows/dbt_orchestration_flow.py
Due: none

feat: testing out cli for docs
  common-utils/src/common/deployment/__init__.py
  data-products/poetry.lock
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

feat: more testing
  common-utils/common_utils_build.sh
  data-products/.docker/base/Dockerfile
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/orchestration/main_orchestration_flow.py
Due: common_utils_changes, data_products_changes

fix(dbt_orchestration): Increase retry count and delay (#210)
  src/flows/braze/update_flow.py
  src/flows/dbt_orchestration_flow.py
Due: none

feat(common-utils): changing the way common-utils is built for docker so that installation with poetry can be easier
  common-utils/common_utils_build.sh
  data-products/.docker/base/Dockerfile
  data-products/poetry.lock
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes
