Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

fix(common-utils): adding missing bind mount configuration
  common-utils/src/common/deployment/__init__.py
Due: common_utils_changes

feat(data-products): adding prefect-aws library as dev dep so that deploy-cli works
  data-products/poetry.lock
  data-products/pyproject.toml
Due: data_products_changes

build(pyproject.toml): version bump on common-utils and data-products
  common-utils/pyproject.toml
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

test(common-utils): adding more tests
  common-utils/tests/unit/deployment/test_check_version.py
  common-utils/tests/unit/deployment/test_deployment.py
  common-utils/tests/unit/deployment/test_deployment_disable_inf.py
Due: common_utils_changes

feat: updating common-utils and data-products to improve the local development process and fixing volume mount (#211)
  common-utils/common_utils_build.sh
  common-utils/pyproject.toml
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/unit/deployment/test_check_version.py
  common-utils/tests/unit/deployment/test_deployment.py
  common-utils/tests/unit/deployment/test_deployment_disable_inf.py
  data-products/.docker/base/Dockerfile
  data-products/poetry.lock
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

build(.circleci): fixing bad envar reference
  .circleci/workflows.yml
  data-products/README.md
Due: data_products_changes

build(data-products): version bump
  data-products/pyproject.toml
Due: data_products_changes

build(.circleci): fixing bad envar reference (#212)
  .circleci/workflows.yml
  data-products/README.md
  data-products/pyproject.toml
Due: data_products_changes

fix(common-utils): ecs tasks need an explicit vpc id because a default vpc cannot be assumed to be the one we want
  common-utils/src/common/deployment/__init__.py
  data-products/README.md
Due: common_utils_changes, data_products_changes

style(common-utils): black formatting
  common-utils/src/common/deployment/__init__.py
Due: common_utils_changes

build: version bump
  common-utils/pyproject.toml
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

Fix/dis 659 explicit vpc (#213)
  common-utils/pyproject.toml
  common-utils/src/common/deployment/__init__.py
  data-products/README.md
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

feat: query Snowflake with tile ids
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/recommendation_api/fx_newtab_aggregate_engagement_flow.py
Due: data_products_changes

feat: use max submission_timestamp for updated_at
  src/flows/recommendation_api/ff_new_tab_aggregated_engagement.py
Due: none

feat: use max submission_timestamp for updated_at
  data-products/src/recommendation_api/fx_newtab_aggregate_engagement_flow.py
Due: data_products_changes

feat: use max submission_timestamp for updated_at (#215)
  src/flows/recommendation_api/ff_new_tab_aggregated_engagement.py
Due: none

feat(common-utils): adding new settings module for defining attributes and assiging values
  common-utils/pytest.ini
  common-utils/src/common/__init__.py
  common-utils/src/common/settings.py
  common-utils/tests/unit/deployment/test_settings.py
Due: common_utils_changes

build(common-utils): version bump
  common-utils/poetry.lock
  common-utils/pyproject.toml
Due: common_utils_changes

feat(common-utils): adding new settings module for defining attributes and assiging values (#216)
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/pytest.ini
  common-utils/src/common/__init__.py
  common-utils/src/common/settings.py
  common-utils/tests/unit/deployment/test_settings.py
Due: common_utils_changes

feat(bq_to_snowflake): initial commit
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_de.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_uk.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_monthly_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats_by_country.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_prefs/mozilla_activity_stream_prefs.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_spoc_fill/mozilla_activity_stream_spoc_fill.sql
Due: data_products_changes

feat(bq_to_snowflake): commit of basic skeleton for subflows
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
Due: data_products_changes

feat(bq_to_snowflake): creating a subflow factory skeleton
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
  data-products/src/bq_to_snowflake/cloud/__init__.py
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
  data-products/src/bq_to_snowflake/config/bq_to_snowflake.json
  data-products/src/bq_to_snowflake/databases/__init__.py
  data-products/src/bq_to_snowflake/databases/snowflake_utils.py
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_daily_flow.py
Due: data_products_changes

feat(bq_to_snowflake): final commit for demo purposes...still in progress for release
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
  data-products/src/bq_to_snowflake/config/bq_to_snowflake.json
  data-products/src/bq_to_snowflake/databases/snowflake_utils.py
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_hourly.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_prefs_flow.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_spoc_fill_flow.py
Due: data_products_changes

style: black formatting
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
Due: data_products_changes

feat(bq_to_snowflake): another example commit for async execution of subflows
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_daily_flow.py
Due: data_products_changes

Revert "feat(bq_to_snowflake): another example commit for async execution of subflows"
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_daily_flow.py
Due: data_products_changes

Revert "style: black formatting"
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
Due: data_products_changes

Revert "feat(bq_to_snowflake): final commit for demo purposes...still in progress for release"
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
  data-products/src/bq_to_snowflake/config/bq_to_snowflake.json
  data-products/src/bq_to_snowflake/databases/snowflake_utils.py
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_daily_flow.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_hourly.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_prefs_flow.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_spoc_fill_flow.py
Due: data_products_changes

Revert "feat(bq_to_snowflake): creating a subflow factory skeleton"
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
  data-products/src/bq_to_snowflake/cloud/__init__.py
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
  data-products/src/bq_to_snowflake/config/bq_to_snowflake.json
  data-products/src/bq_to_snowflake/databases/__init__.py
  data-products/src/bq_to_snowflake/databases/snowflake_utils.py
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_daily_flow.py
Due: data_products_changes

Revert "feat(bq_to_snowflake): commit of basic skeleton for subflows"
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
Due: data_products_changes

Revert "feat(bq_to_snowflake): initial commit"
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_de.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_uk.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_monthly_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats_by_country.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_prefs/mozilla_activity_stream_prefs.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_spoc_fill/mozilla_activity_stream_spoc_fill.sql
Due: data_products_changes

Path conditions:
  aws_changes: any of: [.]aws/.*
  common_utils_changes: any of: common-utils/.*
  data_products_changes: any of: data-products/.*
