Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

Revert "feat(bq_to_snowflake): creating a subflow factory skeleton"
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
  data-products/src/bq_to_snowflake/cloud/__init__.py
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
  data-products/src/bq_to_snowflake/config/bq_to_snowflake.json
  data-products/src/bq_to_snowflake/databases/__init__.py
  data-products/src/bq_to_snowflake/databases/snowflake_utils.py
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_daily_flow.py
Due: data_products_changes

Revert "feat(bq_to_snowflake): commit of basic skeleton for subflows"
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
Due: data_products_changes

Revert "feat(bq_to_snowflake): initial commit"
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_de.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_uk.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_monthly_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats_by_country.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_prefs/mozilla_activity_stream_prefs.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_spoc_fill/mozilla_activity_stream_spoc_fill.sql
Due: data_products_changes

feat(bq_to_snowflake): initial commit
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_de.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_uk.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_monthly_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats_by_country.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_prefs/mozilla_activity_stream_prefs.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_spoc_fill/mozilla_activity_stream_spoc_fill.sql
Due: data_products_changes

feat(bq_to_snowflake): commit of basic skeleton for subflows
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
Due: data_products_changes

feat(bq_to_snowflake): creating a subflow factory skeleton
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/bq_to_snowflake/bq_to_snowflake_flow.py
  data-products/src/bq_to_snowflake/cloud/__init__.py
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
  data-products/src/bq_to_snowflake/config/bq_to_snowflake.json
  data-products/src/bq_to_snowflake/databases/__init__.py
  data-products/src/bq_to_snowflake/databases/snowflake_utils.py
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_daily_flow.py
Due: data_products_changes

feat(bq_to_snowflake): final commit for demo purposes...still in progress for release
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
  data-products/src/bq_to_snowflake/config/bq_to_snowflake.json
  data-products/src/bq_to_snowflake/databases/snowflake_utils.py
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_hourly.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_prefs_flow.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_spoc_fill_flow.py
Due: data_products_changes

style: black formatting
  data-products/src/bq_to_snowflake/cloud/gcp_utils.py
Due: data_products_changes

feat(bq_to_snowflake): another example commit for async execution of subflows
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/mozilla_new_tab_impressions_daily_flow.py
Due: data_products_changes

build: updating prefect version
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/orchestration/main_orchestration_flow.py
Due: data_products_changes

fix: Dbt run not found
  src/flows/dbt_orchestration_flow.py
Due: none

feat: final commit of changes for saving...this branch will be deprecated eventually
  data-products/src/bq_to_snowflake/config/bq_to_snowflake.json
  data-products/src/bq_to_snowflake/flow_components.py
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_de.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_daily_uniques_uk.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_daily/mozilla_activity_stream_monthly_uniques.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_impressions_hourly/mozilla_activity_stream_impression_stats_by_country.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_prefs/mozilla_activity_stream_prefs.sql
  data-products/src/bq_to_snowflake/sql/mozilla_new_tab_spoc_fill/mozilla_activity_stream_spoc_fill.sql
Due: data_products_changes

feat: new shared lib for data-products with pagerduty module
  common-utils/src/common/cloud/__init__.py
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/__init__.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/settings.py
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/shared/blocks/notifications/__init__.py
  data-products/src/shared/blocks/notifications/pagerduty.py
  data-products/tests/orchestration/unit/test_main_orchestration_flow.py
  data-products/tests/shared/blocks/notifications/unit/test_pagerduty.py
Due: common_utils_changes, data_products_changes

fix: Dbt run not found (#218)
  src/flows/dbt_orchestration_flow.py
Due: none

feat: new abstractions for common-utils and data-products
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/pytest.ini
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/cloud/unit/test_gcp_utils.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/deployment/unit/testDockerfile
  common-utils/tests/deployment/unit/testDockerfile1
  common-utils/tests/deployment/unit/testDockerfile2
  common-utils/tests/deployment/unit/test_check_version.py
  common-utils/tests/deployment/unit/test_cli.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
  common-utils/tests/test.json
  common-utils/tests/unit/test_settings.py
  data-products/.docker/base/Dockerfile
  data-products/src/orchestration/main_orchestration_flow.py
  data-products/tests/orchestration/unit/test_main_orchestration_flow.py
Due: common_utils_changes, data_products_changes

feat: final set of code changes for PR
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/settings.py
  common-utils/tests/cloud/unit/test_gcp_utils.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
  data-products/src/orchestration/main_orchestration_flow.py
Due: common_utils_changes, data_products_changes

build: version bumps
  common-utils/pyproject.toml
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

build: test commit for PR description
  data-products/src/orchestration/main_orchestration_flow.py
Due: data_products_changes

build: testing PR
  data-products/src/orchestration/main_orchestration_flow.py
Due: data_products_changes

test(common-utils): fixing units tests assertions
  common-utils/tests/deployment/unit/test_deployment.py
Due: common_utils_changes

Revert "build: test commit for PR description"
  data-products/src/orchestration/main_orchestration_flow.py
Due: data_products_changes

feat: changes to support new data extraction pipeline
  .circleci/workflows.yml
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/src/common/__init__.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/settings.py
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
  data-products/src/snowflake_query_extraction/sql/backend_events_for_mozilla/data.sql
  data-products/src/snowflake_query_extraction/sql/backend_events_for_mozilla/offset.sql
  data-products/tests/snowflake_query_extraction/unit/test_snowflake_query_extraction_flow.py
Due: common_utils_changes, data_products_changes

feat: optimizing some common-util code/deps and removing table create from extraction flow
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/settings.py
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
Due: common_utils_changes, data_products_changes

feat: cleaning up sql for query extraction
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
Due: data_products_changes

feat: adding proper warehouse naming to flow
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/settings.py
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
Due: common_utils_changes, data_products_changes

feat: new abstractions for common-utils and data-products (#219)
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/pytest.ini
  common-utils/src/common/cloud/__init__.py
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/__init__.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/settings.py
  common-utils/tests/cloud/unit/test_gcp_utils.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/deployment/unit/testDockerfile
  common-utils/tests/deployment/unit/testDockerfile1
  common-utils/tests/deployment/unit/testDockerfile2
  common-utils/tests/deployment/unit/test_check_version.py
  common-utils/tests/deployment/unit/test_cli.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
  common-utils/tests/test.json
  common-utils/tests/unit/test_settings.py
  data-products/.docker/base/Dockerfile
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/orchestration/main_orchestration_flow.py
  data-products/src/shared/blocks/notifications/__init__.py
  data-products/src/shared/blocks/notifications/pagerduty.py
  data-products/tests/orchestration/unit/test_main_orchestration_flow.py
  data-products/tests/shared/blocks/notifications/unit/test_pagerduty.py
Due: common_utils_changes, data_products_changes

docs: version bump and clean up
  common-utils/pyproject.toml
  data-products/pyproject.toml
  data-products/src/orchestration/.prefectignore
  data-products/src/orchestration/main_orchestration_flow.py
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
  data-products/tests/orchestration/unit/test_main_orchestration_flow.py
Due: common_utils_changes, data_products_changes

test(common-utils): adding unit test coverage
  common-utils/pytest.ini
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/settings.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/unit/test_common.py
  common-utils/tests/unit/test_settings.py
Due: common_utils_changes

feat: Add alert for NewTab ranking SLO
  .gitignore
  data-products/src/newtab/slo_newtab_ranking_flow.py
  data-products/tests/newtab/test_slo_newtab_ranking_flow.py
Due: data_products_changes

fix: bump data-products version
  data-products/pyproject.toml
Due: data_products_changes

fix: add missing type hint
  data-products/src/newtab/slo_newtab_ranking_flow.py
Due: data_products_changes

test: fixing/adding tests and updating/adding doc strings and comments
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/settings.py
  common-utils/src/common/testing_utils.py
  common-utils/tests/conftest.py
  common-utils/tests/unit/test_settings.py
  common-utils/tests/unit/test_testing_utils.py
Due: common_utils_changes

test: fixing/adding tests and updating/adding doc strings and comments
  data-products/poetry.lock
  data-products/src/orchestration/main_orchestration_flow.py
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
  data-products/tests/conftest.py
  data-products/tests/orchestration/unit/test_main_orchestration_flow.py
  data-products/tests/shared/blocks/notifications/unit/test_pagerduty.py
  data-products/tests/snowflake_query_extraction/unit/sql/test/data.sql
  data-products/tests/snowflake_query_extraction/unit/sql/test/offset.sql
  data-products/tests/snowflake_query_extraction/unit/test_snowflake_query_extraction_flow.py
Due: data_products_changes

style: black formatting
  common-utils/tests/conftest.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/unit/test_common.py
  common-utils/tests/unit/test_settings.py
  data-products/tests/conftest.py
  data-products/tests/shared/blocks/notifications/unit/test_pagerduty.py
  data-products/tests/snowflake_query_extraction/unit/test_snowflake_query_extraction_flow.py
Due: common_utils_changes, data_products_changes

test: adding pytest.ini
  data-products/pytest.ini
Due: data_products_changes

test: fixing tests
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/pytest.ini
  common-utils/src/common/testing_utils.py
  common-utils/tests/unit/test_testing_utils.py
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/pytest.ini
  data-products/src/snowflake_query_extraction/__init__.py
  data-products/tests/snowflake_query_extraction/unit/test_snowflake_query_extraction_flow.py
Due: common_utils_changes, data_products_changes

feat: moving snowflake connector block get to task
  common-utils/src/common/databases/snowflake_utils.py
  data-products/src/snowflake_query_extraction/snowflake_query_extraction_flow.py
Due: common_utils_changes, data_products_changes

build(common-utils): removing unsed lib
  common-utils/poetry.lock
  common-utils/pyproject.toml
Due: common_utils_changes

Path conditions:
  aws_changes: any of: [.]aws/.*
  common_utils_changes: any of: common-utils/.*
  data_products_changes: any of: data-products/.*
