Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3 # https://circleci.com/developer/orbs/orb/circleci/path-filtering
workflows:
  generate-config:
    jobs:
      # This configuration controls how parameters are passed to workflows.yml
      # workflows.yml is where the CI/CD jobs and workflows live
      # These booleans control whether we run certain job steps
      # This is meant to provide a 'monorepo' build approach
      # The path regex tell us what change groups we are currently interested in
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            [.]aws/.* aws_changes true
            common-utils/.* common_utils_changes true
            data-products/.* data_products_changes true

updating retries to 5
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

updating data products version
  data-products/pyproject.toml
Due: data_products_changes

updating retries to 5 (#246)
  data-products/pyproject.toml
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

feat(article_text_streaming): fixing issue with oscrypto
  data-products/poetry.lock
  data-products/pyproject.toml
Due: data_products_changes

style: black formatting
  data-products/test.py
Due: data_products_changes

feat(article_text_Streaming): adding a default value for the ordered insert to help with testing
  data-products/src/article_text_streaming/article_text_streaming_flow.py
Due: data_products_changes

test(article_text_streaming): fixing test
  data-products/tests/article_text_streaming/unit/test_article_text_streaming_flow.py
Due: data_products_changes

feat(article_text_streaming): second attempt at fixing test
  data-products/tests/article_text_streaming/unit/test_article_text_streaming_flow.py
Due: data_products_changes

feat(article_text_streaming): migration of article streaming flow from v1 to v2 (#242)
  .aws/.docker/agent/Dockerfile
  .aws/src/config/index.ts
  .aws/src/iam.ts
  .aws/src/main.ts
  .gitignore
  data-products/.coveragerc
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/shared/transform_utils.py
  data-products/test.py
  data-products/tests/article_text_streaming/unit/test.json
  data-products/tests/article_text_streaming/unit/test_article_text_streaming_flow.py
  data-products/tests/shared/unit/test_feature_store.py
Due: aws_changes, data_products_changes

refactor: disabling migrated/unneeded flows via commenting out
  src/flows/parser_item_html_backfill_filesplit_flow.py
  src/flows/parser_item_html_backfill_load_flow.py
  src/flows/parser_item_html_text_streaming_flow.py
Due: none

refactor: removing code due to migration
  src/flows/parser_item_html_backfill_filesplit_flow.py
  src/flows/parser_item_html_backfill_load_flow.py
  src/flows/parser_item_html_text_streaming_flow.py
  src/flows/sql/article_text_insert_ordered.sql
  src/flows/sql/article_text_weekly_dedup.sql
  src/flows/sql/initial_clean_article_text_live.sql
  src/flows/sql/initial_clean_article_text_snapshot.sql
Due: none

test do not merge
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: data_products_changes

refactor: disabling migrated/unneeded flows via commenting out (#247)
  src/flows/parser_item_html_backfill_filesplit_flow.py
  src/flows/parser_item_html_backfill_load_flow.py
  src/flows/parser_item_html_text_streaming_flow.py
  src/flows/sql/article_text_insert_ordered.sql
  src/flows/sql/article_text_weekly_dedup.sql
  src/flows/sql/initial_clean_article_text_live.sql
  src/flows/sql/initial_clean_article_text_snapshot.sql
Due: none

feat: adding example flow to testing new worker based workflow
  data-products/poetry.lock
  data-products/prefect.yaml
  data-products/pyproject.toml
  data-products/src/example.py
Due: data_products_changes

feat: give SQS write access
  .aws/src/iam.ts
Due: aws_changes

feat(legacy_curated_feeds_flow): migrating logic to Prefect v2
  data-products/src/new_tab_recommendations/legacy_curated_feeds_flow.py
  data-products/src/shared/api_clients/__init__.py
  data-products/src/shared/api_clients/sqs.py
Due: data_products_changes

feat(legacy_curated_feeds_flow): send SQS messages
  data-products/src/candidate_sets/legacy_flow.py
  data-products/src/new_tab_recommendations/legacy_curated_feeds_flow.py
  data-products/src/shared/api_clients/sqs.py
Due: data_products_changes

ci: adding flow spec
  data-products/src/candidate_sets/legacy_flow.py
Due: data_products_changes

feat(aggregate_engagement): Query Glean and Activity Stream
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

chore: add comment about glean vs activity stream
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

chore: Add test for export_telemetry_by_corpus_item_id
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

chore: add test for aggregate_engagement flow
  data-products/tests/utils.py
Due: data_products_changes

chore: add test for aggregate_engagement
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
  data-products/tests/utils.py
Due: data_products_changes

fix: prevent Activity Stream and Glean from being double-counted
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

fix: whitespace
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
  data-products/tests/utils.py
Due: data_products_changes

fix: increment version
  data-products/poetry.lock
  data-products/pyproject.toml
Due: data_products_changes

feat(.aws): adding sqs access for future flow migrations
  .aws/src/iam.ts
Due: aws_changes

feat(.aws): adding the prefect ecs worker
  .aws/src/iam.ts
  .aws/src/main.ts
Due: aws_changes

feat(.aws): fixing missing secret arn
  .aws/src/iam.ts
Due: aws_changes

feat(.aws): fixing another missing item
  .aws/src/main.ts
Due: aws_changes

feat(.aws): fixing another typescript issue
  .aws/src/iam.ts
Due: aws_changes

feat(common-utils): initial commit of worker based deployment changes
  common-utils/pyproject.toml
  common-utils/src/common/__init__.py
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/deployment/worker/build_image.sh
  common-utils/src/common/deployment/worker/check_version.py
  common-utils/src/common/deployment/worker/cli.py
  common-utils/src/common/deployment/worker/get_prefect_version.sh
  common-utils/src/common/deployment/worker/push_aws_image.sh
  common-utils/tests/deployment/unit/worker/test_check_version.py
  data-products/.docker/base_v2/Dockerfile
  data-products/poetry.lock
  data-products/prefect.yaml
  data-products/pyproject.toml
  data-products/src/example_flow.py
Due: common_utils_changes, data_products_changes

refactor: prefect.yaml needs to ignored
  data-products/prefect.yaml
Due: data_products_changes

refactor: removing bad test.py file
  data-products/.prefectignore
  data-products/test.py
Due: data_products_changes

ci: updating .gitignore
  .gitignore
  .prefectignore
Due: none

refactor: cleaning up files
  .aws/src/main.ts
  data-products/test.py
Due: aws_changes, data_products_changes

feat(data-products): adding example flow for testing
  data-products/src/example_flow.py
Due: data_products_changes

data-products version bump
  data-products/pyproject.toml
Due: data_products_changes

feat:(.aws) adding prefect worker service to enable migration of flows to using the worker pattern which is now preferred (#250)
  .aws/src/iam.ts
  .aws/src/main.ts
  data-products/pyproject.toml
  data-products/test.py
Due: aws_changes, data_products_changes

chore: simplify Glean query extra join
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes
