Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

fix(dbt_orchestration_flow): fixing timeout issues (#237)
  .docker/app/Dockerfile
  src/flows/dbt_orchestration_flow.py
Due: none

fix(dbt_orchestration_flow): reverting all changes except timeout increase...getting errors on flow run and would rather devote efforts to migrating to prefect v2
  src/flows/dbt_orchestration_flow.py
Due: none

fix(dbt_orchestration_flow): also adding the retry delay back
  src/flows/dbt_orchestration_flow.py
Due: none

fix(dbt_orchestration_flow): reverting all changes except timeout increase (#238)
  src/flows/dbt_orchestration_flow.py
Due: none

replacing hardcoded 2000 with variable and adding comment on timeout
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

adding freestar reporting flow for extraction and load (#236)
  data-products/pyproject.toml
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

fix(dbt_orchestration_flow): 20 min timeout was accidentally reverted back to 15 min
  src/flows/dbt_orchestration_flow.py
Due: none

fix(dbt_orchestration_flow): 20 min timeout was accidentally reverted back to 15 min (#239)
  src/flows/dbt_orchestration_flow.py
Due: none

adding freestar prefix to stage and format sql
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

updating version
  data-products/pyproject.toml
Due: data_products_changes

adding freestar prefix to format on stage sql
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

Feature/socialplat 230 freestar pipeline (#240)
  data-products/pyproject.toml
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

adding freestar prefix to table in put statement
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

Feature/socialplat 230 freestar pipeline (#241)
  data-products/pyproject.toml
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

feat(article_text_streaming): initial migration of code from v1 to v2
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/shared/transform_utils.py
Due: data_products_changes

feat(article_text_streaming): wrapping up flow work and adding test coverage
  data-products/.coveragerc
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/tests/article_text_streaming/unit/test.json
  data-products/tests/article_text_streaming/unit/test_article_text_streaming_flow.py
  data-products/tests/shared/unit/test_feature_store.py
Due: data_products_changes

build(pyproject.toml): version bump
  data-products/pyproject.toml
Due: data_products_changes

fix(html_text_streaming): disabling the reorder while migrating to v2. The logic is causing the reorder to run every hour on Sunday instead of just once
  src/flows/parser_item_html_text_streaming_flow.py
Due: none

ci: update gitignore
  .gitignore
Due: none

build: update prefect
  data-products/poetry.lock
Due: data_products_changes

fix(html_text_streaming): disabling the reorder while migrating to v2. The logic is causing the reorder to run every hour on Sunday instead of just once (#243)
  src/flows/parser_item_html_text_streaming_flow.py
Due: none

test(article_text_streaming): disabling http2 for unit tests
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
Due: data_products_changes

test(article_text_streaming): trying to get testing working without timining out
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
Due: data_products_changes

test(article_text_streaming): trying to work through timeout issues in testing
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/tests/conftest.py
Due: data_products_changes

feat(article_text_streaming): adding a configurable max article number to less the testing load
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/tests/article_text_streaming/unit/test_article_text_streaming_flow.py
  data-products/tests/conftest.py
Due: data_products_changes

test: black formatting
  data-products/tests/conftest.py
Due: data_products_changes

test(article_text_streaming): fixing none_type_count value for production
  data-products/tests/article_text_streaming/unit/test_article_text_streaming_flow.py
Due: data_products_changes

test(article_text_streaming): fixing the production env tests
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/tests/article_text_streaming/unit/test_article_text_streaming_flow.py
Due: data_products_changes

feat(.aws): adding the data items bucket access to the flow iam role
  .aws/src/config/index.ts
  .aws/src/iam.ts
  .aws/src/main.ts
Due: aws_changes

feat(article_text_streaming): adjusting envar usage
  data-products/src/article_text_streaming/article_text_streaming_flow.py
Due: data_products_changes

feat(article_text_streaming): removing unneeded global
  data-products/src/article_text_streaming/article_text_streaming_flow.py
Due: data_products_changes

feat(aws): fixing pocket data item bucket object permissions
  .aws/src/iam.ts
  data-products/src/article_text_streaming/article_text_streaming_flow.py
Due: aws_changes, data_products_changes

style(aws): prettier formatting
  .aws/src/iam.ts
Due: aws_changes

style(article_text_streaming): black formatting
  data-products/src/article_text_streaming/article_text_streaming_flow.py
Due: data_products_changes

feat(aws): pinning Prefect version for agent
  .aws/.docker/agent/Dockerfile
Due: aws_changes

fix(dbt_orchestration_flow): scaling back the schedule and timeout logic as a fix to increasing dbt run times
  src/flows/dbt_orchestration_flow.py
Due: none

fix(dbt_orchestration_flow): scaling back the schedule and timeout logic as a fix to increasing dbt run times (#244)
  src/flows/dbt_orchestration_flow.py
Due: none

fix(dbt_orchestration_flow): removing retry logic
  src/flows/dbt_orchestration_flow.py
Due: none

feat(article_text_streaming): adding batching logic and error handling
  .aws/src/config/index.ts
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/test.py
  data-products/tests/article_text_streaming/unit/test_article_text_streaming_flow.py
Due: aws_changes, data_products_changes

fix(dbt_orchestration_flow): removing retry logic (#245)
  src/flows/dbt_orchestration_flow.py
Due: none

Path conditions:
  aws_changes: any of: [.]aws/.*
  common_utils_changes: any of: common-utils/.*
  data_products_changes: any of: data-products/.*
