Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3 # https://circleci.com/developer/orbs/orb/circleci/path-filtering
workflows:
  generate-config:
    jobs:
      # This configuration controls how parameters are passed to workflows.yml
      # workflows.yml is where the CI/CD jobs and workflows live
      # These booleans control whether we run certain job steps
      # This is meant to provide a 'monorepo' build approach
      # The path regex tell us what change groups we are currently interested in
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            [.]aws/.* aws_changes true
            common-utils/.* common_utils_changes true
            data-products/.* data_products_changes true

feat(aggregate_engagement): Query Glean and Activity Stream (#249)
  .circleci/workflows.yml
  common-utils/pyproject.toml
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/testing_utils.py
  common-utils/tests/conftest.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
  common-utils/tests/unit/test_settings.py
  common-utils/tests/unit/test_testing_utils.py
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/conftest.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
  data-products/tests/utils.py
Due: common_utils_changes, data_products_changes

fix: need to be able to create the dataset as part of the flow (#255)
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

fix(common-utils): giving bad clone branch (#254)
  common-utils/pyproject.toml
  common-utils/src/common/deployment/worker/__init__.py
Due: common_utils_changes

feat(freestar): Freestar flow refactor to enable backfill and idempotent execution (#256)
  .circleci/workflows.yml
  common-utils/pyproject.toml
  common-utils/src/common/deployment/worker/__init__.py
  data-products/.docker/worker/base/Dockerfile
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/__init__.py
  data-products/src/article_text_streaming/__init__.py
  data-products/src/freestar_revenue_reporting/__init__.py
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/shared/async_utils.py
  data-products/tests/freestar_revenue_reporting/unit/test_freestar_reporting_flow.py
Due: common_utils_changes, data_products_changes

feat: adding logic for secrets manager based settings
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/settings.py
  data-products/src/candidate_sets/legacy_curated_candidates_flow.py
  data-products/src/candidate_sets/legacy_longreads_flow.py
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: common_utils_changes, data_products_changes

feat: changes to support commit comments for legacy candidate sets and changes to support worker deployments with proper CICD and secrets usage
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/settings.py
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
  data-products/src/candidate_sets/legacy_curated_candidates_flow.py
  data-products/src/candidate_sets/legacy_longreads_flow.py
Due: common_utils_changes, data_products_changes

feat: changes to support worker based deployment of legacy sets flow
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat: updating docker file and __init__.py
  data-products/.docker/worker/base/Dockerfile
Due: data_products_changes

feat: updating flow specific library to relative import
  data-products/.docker/worker/base/Dockerfile
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
Due: data_products_changes

feat(aggregate_engagement): Query Glean and Activity Stream (#249)
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

fix: need to be able to create the dataset as part of the flow (#255)
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

feat: adding logic for secrets manager based settings
  data-products/src/candidate_sets/legacy_curated_candidates_flow.py
  data-products/src/candidate_sets/legacy_longreads_flow.py
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat: changes to support commit comments for legacy candidate sets and changes to support worker deployments with proper CICD and secrets usage
  common-utils/src/common/settings.py
  data-products/src/candidate_sets/legacy_curated_candidates_flow.py
  data-products/src/candidate_sets/legacy_longreads_flow.py
Due: common_utils_changes, data_products_changes

feat: updating envars
  common-utils/src/common/settings.py
Due: common_utils_changes

fix: need to be able to create the dataset as part of the flow (#255)
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

style: black formatting
  common-utils/tests/databases/unit/test_snowflake_utils.py
Due: common_utils_changes

build: version bump
  data-products/pyproject.toml
Due: data_products_changes

test(candidate_sets): adding test coverage
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/shared/api_clients/sqs.py
  data-products/tests/candidate_sets/test_legacy_candidate_sets.py
  data-products/tests/shared/unit/test_sqs.py
Due: data_products_changes

feat(candidate_sets): adding schedules
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
Due: data_products_changes

feat(candidate_sets): fixing import of config
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
Due: data_products_changes

feat(candidate_sets): fixing import
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
Due: data_products_changes

build: version bump
  common-utils/pyproject.toml
Due: common_utils_changes

test(common-utils): adding tests
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
Due: common_utils_changes

test(common-utils): adding final test
  common-utils/tests/databases/unit/test_snowflake_utils.py
Due: common_utils_changes

style: black formatting
  data-products/src/braze/update_flow.py
  data-products/src/prospecting/publisher_features.py
  data-products/src/shared/api_clients/braze/client.py
  data-products/src/shared/dataclass_utils.py
Due: data_products_changes

test: fixing test issue
  data-products/tests/braze/test_braze.py
Due: data_products_changes

test(braze): tests not working as expected
  data-products/tests/braze/test_braze.py
  data-products/tests/shared/unit/test_offset_utils.py
Due: data_products_changes

feature(braze): migrating braze update flow to prefect v2 (#258)
  common-utils/pyproject.toml
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  data-products/pyproject.toml
  data-products/src/braze/__init__.py
  data-products/src/braze/update_flow.py
  data-products/src/prospecting/publisher_features.py
  data-products/src/prospecting/sql/publisher_features.sql
  data-products/src/shared/api_clients/braze/__init__.py
  data-products/src/shared/api_clients/braze/client.py
  data-products/src/shared/api_clients/braze/models.py
  data-products/src/shared/api_clients/braze/pocket_config.py
  data-products/src/shared/api_clients/braze/utils.py
  data-products/src/shared/dataclass_utils.py
  data-products/src/shared/iteration_utils.py
  data-products/src/shared/offset_utils.py
  data-products/src/shared/tasks.py
  data-products/tests/braze/test_braze.py
  data-products/tests/shared/unit/test_offset_utils.py
Due: common_utils_changes, data_products_changes

test: fixing test
  data-products/tests/braze/test_braze.py
Due: data_products_changes

test: fixing test for braze (#259)
  data-products/pyproject.toml
  data-products/tests/braze/test_braze.py
Due: data_products_changes

fix: fixing test coverage and version bump
  data-products/pyproject.toml
  data-products/src/braze/update_flow.py
Due: data_products_changes

fix: fixing test coverage and version bump (#260)
  data-products/pyproject.toml
  data-products/src/braze/update_flow.py
Due: data_products_changes

fix(braze): email configuration was bad
  data-products/src/braze/update_flow.py
Due: data_products_changes
