Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3 # https://circleci.com/developer/orbs/orb/circleci/path-filtering
workflows:
  generate-config:
    jobs:
      # This configuration controls how parameters are passed to workflows.yml
      # workflows.yml is where the CI/CD jobs and workflows live
      # These booleans control whether we run certain job steps
      # This is meant to provide a 'monorepo' build approach
      # The path regex tell us what change groups we are currently interested in
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            [.]aws/.* aws_changes true
            common-utils/.* common_utils_changes true
            data-products/.* data_products_changes true

build(data-products): version bump
  data-products/pyproject.toml
Due: data_products_changes

fix:fixing unit tests to work for all deployment types (#224)
  .circleci/workflows.yml
  common-utils/pyproject.toml
  common-utils/run_pytest.sh
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/unit/test_settings.py
  data-products/pyproject.toml
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: common_utils_changes, data_products_changes

test(common-utils): updating tests
  common-utils/poetry.lock
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
Due: common_utils_changes

fix(data-products): fixing issues with dynamic setting of the template paths
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: data_products_changes

build: version bumps
  common-utils/pyproject.toml
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

build(data-products): updating common-utils version
  data-products/poetry.lock
Due: data_products_changes

style: black formatting
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
  data-products/src/shared/utils.py
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: common_utils_changes, data_products_changes

fix(data-products): fixing improper nexting on sql query
  data-products/src/sql_etl/sql/backend_events_for_mozilla/data.sql
Due: data_products_changes

test(common-utils): adding additional test for schedule fix
  common-utils/tests/deployment/unit/test_deployment.py
Due: common_utils_changes

fix(data-products): final fixes and test updates to get this working as expected
  data-products/pyproject.toml
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: data_products_changes

fix(data-products): reverting the sql changes since data consumer is now expecting the extra nesting
  data-products/src/sql_etl/sql/backend_events_for_mozilla/data.sql
Due: data_products_changes

fix(data-products): updating the table name for impression stats so that current table does not get overwritten just yet
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

fix(data-products): finally found a way set proper defaults without needing sql_template_path as a parameter
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: data_products_changes

test(data-products): cleaning up tests
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: data_products_changes

fix: fixing issues with dynamic setting of the sql template path and fixing interval schedules in deployment (#225)
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: common_utils_changes, data_products_changes

fix(data-products): fix kwargs.destination_table_name and sql_folder_name values for sql_etl.impression_stats_v1
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

fix(data-products): fix kwargs.destination_table_name and sql_folder_name values for sql_etl.impression_stats_v1 (#226)
  data-products/pyproject.toml
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

feat(data-products): initial code to migration fx new tab migrations
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/main_flow.py
Due: data_products_changes

fix(data-products): fixing interval logic and adding more tests to cover expected behavior
  data-products/src/shared/utils.py
  data-products/tests/shared/test_utils.py
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: data_products_changes

docs(data-products): updating get_intervals doc string
  data-products/src/shared/utils.py
Due: data_products_changes

fix(common-utils): due to inconsistent behavior with interval schedules. Forcing users to use Cron for schedule in data-flows
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

fix(common-utils): commiting changes described in previous commit
  common-utils/pyproject.toml
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
Due: common_utils_changes

test(data-products): adding missing tests and missing validation logic. also updated doc string and comments
  data-products/src/shared/utils.py
  data-products/tests/shared/test_utils.py
Due: data_products_changes

docs: adding sample .env.example
  data-products/.env.example
Due: data_products_changes

Fix: Fix issue to SqlJob intervals and force flows to use Cron for scheduling (#227)
  common-utils/pyproject.toml
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
  data-products/.env.example
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/shared/test_utils.py
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
Due: common_utils_changes, data_products_changes

feat(data-products): load dataframe using feature store
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/main_flow.py
  data-products/src/shared/feature_store.py
Due: data_products_changes

feat(data-products): changing sql_etl to be more dynamic and flexible to support mysql extractions, multi-statement statements, and non-incremental etls
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/backend_events_for_mozilla/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items_deleted/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items_deleted/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_prospects/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_prospects/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_queued_items/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_queued_items/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/tile_source/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/tile_source/load.sql
  data-products/src/sql_etl/sql/impression_stats_v1/data.sql
  data-products/src/sql_etl/sql/impression_stats_v1/load.sql
  data-products/src/sql_etl/sql/impression_stats_v1/offset.sql
Due: data_products_changes

adding sql files
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position_source_country_locale.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_spoc_fill_rate_by_position_feed.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_unique_engagement_by_feed.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_monthly_unique_engagement_by_feed.sql
Due: data_products_changes

feat(data-products): changes to support sub directory execution for both incremental and non incremental extractions
  common-utils/src/common/databases/snowflake_utils.py
  data-products/src/shared/async_utils.py
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed/offset.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_spoc_fill_rate_by_position_feed/offset.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_unique_engagement_by_feed/offset.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_monthly_unique_engagement_by_feed/offset.sql
Due: common_utils_changes, data_products_changes

updating sql
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position_source_country_locale.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_spoc_fill_rate_by_position_feed.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_unique_engagement_by_feed.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_monthly_unique_engagement_by_feed.sql
Due: data_products_changes

adding sql for the rest of the fx new tab impression tables
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position/offset.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/offset.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
Due: data_products_changes

updating sql and making gcp credentials optional for oauth
  common-utils/src/common/cloud/gcp_utils.py
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
Due: common_utils_changes, data_products_changes

updating daily disable sql to include all fx versions and updating load logic to make dry
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed/load.sql
Due: data_products_changes

updating run_jobs_flow for testing and saving sql progress - not working - will test mon
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed/load.sql
Due: data_products_changes

feat(data-products): final clean up of code and starting to add docs pages
  data-products/docs/flows/sql_etl/code.md
  data-products/docs/flows/sql_etl/usage.md
  data-products/docs/index.md
  data-products/mkdocs.yml
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items_deleted/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_prospects/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_queued_items/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/tile_source/load.sql
Due: data_products_changes

ci: updating .gitignore to ignore docs sites
  .gitignore
Due: none

fix(common-utils): fixing snowflake_gcp_stages setting to no longer make it required
  common-utils/src/common/databases/snowflake_utils.py
Due: common_utils_changes

feat(data-products): more changes to support firefox data use case
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed/load.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed/offset.sql
Due: data_products_changes

removing snowflake loaded at, adding load sql
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position/load.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions/firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/load.sql
Due: data_products_changes
