Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, agent_docker_changes, common_utils_changes, data_products_changes

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            [.]aws/.* aws_changes true
            [.]docker/.* agent_docker_changes true
            common-utils/.* common_utils_changes true
            data-products/.* data_products_changes true

# VS Code Extension Version: 1.5.1

ci: testing out last changes for cicd
  .circleci/workflows.yml
Due: none

ci: fixing bad job ref
  .circleci/workflows.yml
Due: none

ci: reverting removal of poetry virtual env config
  .circleci/workflows.yml
Due: none

ci: poetry already installed on cimg/python:3.10
  .circleci/workflows.yml
Due: none

ci: adding aws cli oidc creds to prefect deploy-cli steps
  .circleci/workflows.yml
Due: none

ci: running into issue using poetry and python in cimg
  .circleci/workflows.yml
Due: none

ci: moving to using poetry run to execute python commands in isolated env
  .circleci/workflows.yml
Due: none

ci: removing references to configure_poetry
  .circleci/workflows.yml
Due: none

ci: fixing wheel file command
  .circleci/workflows.yml
Due: none

ci: need to test docker build on pr for data products
  .circleci/workflows.yml
Due: none

fix(corpus_item_engagement): Snowflake schema was wrong
  src/flows/recommendation_api/corpus_item_engagement.py
Due: none

ci: adding build script for creating proper wheel file for common utils
  .circleci/workflows.yml
  common-utils/common_utils_build.sh
  data-products/.docker/base/Dockerfile
  data-products/poetry.lock
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

ci: moving common_utils_wheel_file
  .circleci/workflows.yml
Due: none

fix(corpus_item_engagement): Snowflake schema was wrong (#204)
  src/flows/recommendation_api/corpus_item_engagement.py
Due: none

feat(check_version.py): updating README.md files and adding version check to cli and CICD process
  .circleci/config.yml
  .circleci/workflows.yml
  common-utils/README.md
  common-utils/common_utils_build.sh
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/check_version.py
  common-utils/src/common/deployment/cli.py
  common-utils/tests/unit/deployment/test_check_version.py
  common-utils/tests/unit/deployment/test_cli.py
  data-products/README.md
  data-products/poetry.lock
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

style: black formatting
  common-utils/src/common/deployment/check_version.py
Due: common_utils_changes

feat(check_version.py): final changes for check version work
  common-utils/pyproject.toml
  common-utils/src/common/deployment/check_version.py
  common-utils/tests/unit/deployment/test_check_version.py
  data-products/poetry.lock
  data-products/pyproject.toml
  test.txt
Due: common_utils_changes, data_products_changes

docs: final README.md and misc documentation
  .aws/README.md
  .circleci/README.md
  .circleci/workflows.yml
  README.md
  common-utils/README.md
  data-products/README.md
  test.txt
Due: aws_changes, common_utils_changes, data_products_changes

ci: adding some more clean up to the common-utils build script and updating hash on wheel file for common-utils
  common-utils/common_utils_build.sh
  data-products/poetry.lock
Due: common_utils_changes, data_products_changes

ci: need to deploy flows on dev and main workflows
  .circleci/workflows.yml
Due: none

ci: fixing conditionals on flow build vs deployment
  .circleci/workflows.yml
Due: none

ci: reverting circleci changes...issues was pushing to wrong dev branch
  .circleci/workflows.yml
Due: none

ci: needs to be set up so that test flows deploy on a new test-v2 branch
  .circleci/workflows.yml
Due: none

feat(common-utils): run_command needs to use bash as default shell
  .aws/src/iam.ts
  .aws/src/main.ts
  common-utils/src/common/deployment/__init__.py
  data-products/src/orchestration/.prefectignore
Due: aws_changes, common_utils_changes, data_products_changes

build: updating common-utils hash
  data-products/poetry.lock
Due: data_products_changes

feat(common-utils): need to make sure that deployments were environment and deployment type aware. also disabled schedules on non-prod and non-live deployments
  .aws/src/iam.ts
  .aws/src/main.ts
  .circleci/workflows.yml
  common-utils/README.md
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/unit/deployment/test_deployment.py
  data-products/poetry.lock
Due: aws_changes, common_utils_changes, data_products_changes

ci: adding back the dev-v2 prefect changes workflow to use for testing CICD and deployment workflows against dev account
  .circleci/workflows.yml
Due: none

build: updating common-utils hash for data-products
  data-products/poetry.lock
Due: data_products_changes

feat: changes to support a simpler deployment strategy based on github branches
  .aws/README.md
  .aws/src/iam.ts
  .aws/src/main.ts
  .circleci/workflows.yml
  common-utils/README.md
  common-utils/pytest.ini
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/test_flows/flow_group_1/example_flow.py
  common-utils/tests/unit/deployment/testDockerfile1
  common-utils/tests/unit/deployment/testDockerfile2
  common-utils/tests/unit/deployment/test_deployment.py
Due: aws_changes, common_utils_changes

test: fixing tests
  common-utils/tests/unit/deployment/test_deployment.py
Due: common_utils_changes

test: fixing another test
  common-utils/tests/unit/deployment/test_deployment.py
Due: common_utils_changes

build: fixing build and dependency issues
  common-utils/poetry.lock
  common-utils/pyproject.toml
  data-products/poetry.lock
Due: common_utils_changes, data_products_changes

feat: updating how flow name is enforced
  common-utils/pytest.ini
  common-utils/src/common/deployment/__init__.py
  common-utils/tests/unit/deployment/test_deployment.py
  data-products/poetry.lock
Due: common_utils_changes, data_products_changes

build: updating hash for common utils
  data-products/poetry.lock
Due: data_products_changes

ci: removing the separate agent docker image changes path
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

initial commit
  src/flows/recommendation_api/legacy_candidate_sets/curated_feeds.py
  src/flows/recommendation_api/legacy_candidate_sets/longreads.py
  src/flows/recommendation_api/legacy_candidate_sets/shortreads.py
Due: none

feat: passing pre-defined flow name to ecs block and task creation
  common-utils/src/common/deployment/__init__.py
Due: common_utils_changes

ci: black formatting and common utils update
  common-utils/src/common/deployment/__init__.py
  data-products/poetry.lock
Due: common_utils_changes, data_products_changes

ci: moving to single workflow per branch type. This is so that on main, we can make flow deployments depend on any aws changes
  .circleci/workflows.yml
Due: none

fix(Deployment) the shell commands can be safely executed
  common-utils/src/common/deployment/__init__.py
Due: common_utils_changes
