Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: v2-aws-changes, legacy-changes

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            prefect_v2/[.]aws/.* v2-aws-changes true
            (?!prefect_v2/|[.]circleci/).* legacy-changes true

# VS Code Extension Version: 1.5.1

fix(.circleci): fixing assume role setting
  .circleci/workflows.yml
  .gitignore
Due: legacy-changes

fix(.circleci): fixing more issues with assume role
  .circleci/workflows.yml
Due: none

fix(.circleci): more issues with .circleci config
  .circleci/workflows.yml
Due: none

build(.circleci): adding debug logging to cdktf
  .circleci/workflows.yml
Due: none

build(.circleci): working through terraform issues
  .circleci/workflows.yml
Due: none

fix(.circlci): adding proper environment variables
  .circleci/workflows.yml
Due: none

fix(.circleci): updating envar for tf cloud token
  .circleci/workflows.yml
  prefect_v2/.aws/process.yml
Due: v2-aws-changes

fix(.circleci): adding proper envar for tf cloud auth
  .circleci/workflows.yml
Due: none

fix(.circleci): moving to terraform cli for plan/deploy
  .circleci/workflows.yml
Due: none

refactor(prefect_v2/.aws): initial readme, adding comments, optimizing some resources
  prefect_v2/.aws/README.md
  prefect_v2/.aws/process.yml
  prefect_v2/.aws/src/config/index.ts
  prefect_v2/.aws/src/iam.ts
  prefect_v2/.aws/src/main.ts
Due: v2-aws-changes

add linux user to buildspec & non-interactive setup for shims
  buildspec.yml
Due: legacy-changes

account for shell eq check changes moving off alpine
  buildspec.yml
Due: legacy-changes

feat(parser_item_html_text_streaming_flow.py): add incremental insert into and weekly reordering of new article_content_ordered_live table
  .gitignore
  Pipfile
  Pipfile.lock
  src/flows/parser_item_html_text_streaming_flow.py
  src/flows/sql/initial_clean_article_text_live.sql
  src/flows/sql/initial_clean_article_text_snapshot.sql
  src/utils/config.py
Due: legacy-changes

feat(parser_item_html_text_streaming_flow.py): changes based on PR comments
  src/flows/parser_item_html_text_streaming_flow.py
Due: legacy-changes

feat: added the new buildspec from INFRA-847 and added missing grants to one-time sql statments
  buildspec.yml
  src/flows/sql/initial_clean_article_text_live.sql
  src/flows/sql/initial_clean_article_text_snapshot.sql
Due: legacy-changes

docs(README.md): updating readme with details about black
  README.md
Due: legacy-changes

feat: changes based on PR comments...move sql statments to files to simplify code, updated schedule in code, resigned commits
  src/flows/parser_item_html_text_streaming_flow.py
  src/flows/sql/article_text_insert_ordered.sql
  src/flows/sql/article_text_weekly_dedup.sql
Due: legacy-changes

chore(corpus_candidate_sets): Refactor to configuration
  src/api_clients/pocket_snowflake_query.py
  src/flows/recommendation_api/corpus_candidate_sets/candidate_set_from_config.py
  src/flows/recommendation_api/corpus_candidate_sets/collections_by_recency.py
  src/flows/recommendation_api/corpus_candidate_sets/lifehacks.py
  src/flows/recommendation_api/corpus_candidate_sets/new_tab_not_syndicated_or_collection.py
  src/flows/recommendation_api/corpus_candidate_sets/pockethits.py
  src/flows/recommendation_api/corpus_candidate_sets/recommended_by_recency.py
  src/flows/recommendation_api/corpus_candidate_sets/setup_moment_editorial_selection.md
  src/flows/recommendation_api/corpus_candidate_sets/setup_moment_editorial_selection.py
  src/flows/recommendation_api/corpus_candidate_sets/setup_moment_scheduled_syndicated.py
  src/flows/recommendation_api/corpus_candidate_sets/sql/collections_by_recency.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/life_hacks.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/pocket_hits.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/recommended_by_recency.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/scheduled_not_syndicated_or_collection.sql
  src/models/corpus_candidate_set_configs.py
Due: legacy-changes

feat(corpus_candidate_sets): Add German New Tab candidate set
  src/flows/recommendation_api/corpus_candidate_sets/candidate_sets_from_config.py
  src/flows/recommendation_api/corpus_candidate_sets/sql/pocket_hits.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/recommended_by_recency.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/scheduled_not_syndicated_or_collection.sql
  src/models/corpus_candidate_set_configs.py
Due: legacy-changes

feat(corpus_candidate_sets): Generate German topic candidate sets
  src/flows/recommendation_api/corpus_candidate_sets/topics.py
Due: legacy-changes

feat(corpus_candidate_sets): Refactor topics to use CorpusCandidateSetConfig
  src/flows/recommendation_api/corpus_candidate_sets/candidate_sets_from_config.py
  src/flows/recommendation_api/corpus_candidate_sets/corpus_candidate_sets.py
  src/flows/recommendation_api/corpus_candidate_sets/sql/topic.sql
  src/flows/recommendation_api/corpus_candidate_sets/topics.py
  src/models/corpus_candidate_set_configs.py
Due: legacy-changes

feat(parser_item_html_text_streaming_flow.py): add incremental insert into and weekly reordering of new article_content_ordered_live table (#191)
  .gitignore
  Pipfile
  Pipfile.lock
  README.md
  buildspec.yml
  src/flows/parser_item_html_text_streaming_flow.py
  src/flows/sql/article_text_insert_ordered.sql
  src/flows/sql/article_text_weekly_dedup.sql
  src/flows/sql/initial_clean_article_text_live.sql
  src/flows/sql/initial_clean_article_text_snapshot.sql
  src/utils/config.py
Due: legacy-changes

feat(corpus_candidate_sets): Filter collections scheduled in the future
  src/flows/recommendation_api/corpus_candidate_sets/sql/collections_by_recency.sql
  src/models/corpus_candidate_set_configs.py
Due: legacy-changes

feat(corpus_candidate_sets): Add German candidates sets and refactor flows [TDP-223] (#193)
  src/api_clients/pocket_snowflake_query.py
  src/flows/recommendation_api/corpus_candidate_sets/collections_by_recency.py
  src/flows/recommendation_api/corpus_candidate_sets/corpus_candidate_sets.py
  src/flows/recommendation_api/corpus_candidate_sets/lifehacks.py
  src/flows/recommendation_api/corpus_candidate_sets/new_tab_not_syndicated_or_collection.py
  src/flows/recommendation_api/corpus_candidate_sets/pockethits.py
  src/flows/recommendation_api/corpus_candidate_sets/recommended_by_recency.py
  src/flows/recommendation_api/corpus_candidate_sets/setup_moment_editorial_selection.md
  src/flows/recommendation_api/corpus_candidate_sets/setup_moment_editorial_selection.py
  src/flows/recommendation_api/corpus_candidate_sets/setup_moment_scheduled_syndicated.py
  src/flows/recommendation_api/corpus_candidate_sets/sql/collections_by_recency.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/life_hacks.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/pocket_hits.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/recommended_by_recency.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/scheduled_not_syndicated_or_collection.sql
  src/flows/recommendation_api/corpus_candidate_sets/sql/topic.sql
  src/flows/recommendation_api/corpus_candidate_sets/topics.py
  src/models/corpus_candidate_set_configs.py
Due: legacy-changes

Final cleanup
  src/flows/data_retention/development_snowflake_schemas.py
Due: legacy-changes

Update development_snowflake_schemas.py
  src/flows/data_retention/development_snowflake_schemas.py
Due: legacy-changes

Delete old Snowflake DEVELOPMENT db schemas (#76)
  .gitignore
  src/flows/data_retention/development_snowflake_schemas.py
Due: legacy-changes

feat(prefect_v2/.aws): large initial commit of all prefect_v2 inf code and CICD changes
  prefect_v2/.aws/.eslintignore
  prefect_v2/.aws/.eslintrc
  prefect_v2/.aws/.gitignore
  prefect_v2/.aws/.npmrc
  prefect_v2/.aws/.nvmrc
  prefect_v2/.aws/.prettierrc
  prefect_v2/.aws/.terraform-version
  prefect_v2/.aws/README.md
  prefect_v2/.aws/cdktf.json
  prefect_v2/.aws/package-lock.json
  prefect_v2/.aws/package.json
  prefect_v2/.aws/src/config/index.ts
  prefect_v2/.aws/src/iam.ts
  prefect_v2/.aws/src/main.ts
  prefect_v2/.aws/tsconfig.json
Due: v2-aws-changes

feat(.circleci): committing the circleci changes that did not make it in previous commit
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

ci(.circleci): node_env values were wrong
  .circleci/workflows.yml
Due: none

ci(.circleci): adding envar to job run in workflow
  .circleci/workflows.yml
Due: none

ci(.circleci): adding parameters to make sure node env is dev
  .circleci/workflows.yml
Due: none

ci: commiting new workflows.yml
  .circleci/workflows.yml
Due: none

ci: pushing change to local circleci dev stack to test self-hosted runner
  prefect_v2/.aws/src/config/index.ts
Due: v2-aws-changes

feat: changes to support self hosted runner along with changes to local circleCI stack to create 2 runners
  prefect_v2/.aws/src/circleci-runner.ts
  prefect_v2/.aws/src/config/index.ts
  prefect_v2/.aws/src/iam.ts
  prefect_v2/.aws/src/main.ts
Due: v2-aws-changes

ci(buildspec.yml): adding the new buildspec that support new codebuild image added via INFRA-847
  buildspec.yml
Due: legacy-changes

refactor(prefect_v2/.aws): refactored the prefect_v2 stack to leverage terraform-modules ECS app and implemented self hosted runners
  .circleci/workflows.yml
  package-lock.json
  prefect_v2/.aws/package-lock.json
  prefect_v2/.aws/package.json
  prefect_v2/.aws/src/circleci-runner.ts
  prefect_v2/.aws/src/config/index.ts
  prefect_v2/.aws/src/iam.ts
  prefect_v2/.aws/src/main.ts
Due: v2-aws-changes, legacy-changes
