Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

updating Freestar extraction logic to accomodate historical data (#263)
  common-utils/pyproject.toml
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/tests/freestar_revenue_reporting/unit/test_freestar_reporting_flow.py
Due: common_utils_changes, data_products_changes

moving record count logic as it was occuring at wrong time
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

bumping version
  data-products/pyproject.toml
Due: data_products_changes

moving record count logic as it was occuring at wrong time (#265)
  data-products/pyproject.toml
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

feat: changes to support file based pandas to feature store functionality
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  data-products/src/recommendation_api/user_impressions_flow.py
  data-products/src/shared/feature_store.py
  data-products/tests/shared/unit/test_feature_store.py
Due: common_utils_changes, data_products_changes

build: version bump
  common-utils/pyproject.toml
Due: common_utils_changes

style: black formatting
  common-utils/src/common/databases/snowflake_utils.py
Due: common_utils_changes

fix: fixing test and flow schedule
  common-utils/tests/databases/unit/test_snowflake_utils.py
  data-products/src/recommendation_api/user_impressions_flow.py
Due: common_utils_changes, data_products_changes

style: black formatting
  common-utils/tests/databases/unit/test_snowflake_utils.py
Due: common_utils_changes

feat: migration of remaining ml flows (#264)
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  data-products/pyproject.toml
  data-products/src/recommendation_api/__init__.py
  data-products/src/recommendation_api/corpus_candidate_sets_flow.py
  data-products/src/recommendation_api/corpus_item_engagement_flow.py
  data-products/src/recommendation_api/legacy_candidate_sets_flow.py
  data-products/src/recommendation_api/sql/collections_by_recency.sql
  data-products/src/recommendation_api/sql/life_hacks.sql
  data-products/src/recommendation_api/sql/pocket_hits.sql
  data-products/src/recommendation_api/sql/recommended_by_recency.sql
  data-products/src/recommendation_api/sql/scheduled_not_syndicated_or_collection.sql
  data-products/src/recommendation_api/sql/topic.sql
  data-products/src/recommendation_api/user_impressions_flow.py
  data-products/src/shared/feature_store.py
  data-products/src/shared/models/__init__.py
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/src/shared/tasks.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
  data-products/tests/recommendation_api/test_corpus_item_engagement_flow.py
  data-products/tests/recommendation_api/test_legacy_candidate_sets_flow.py
  data-products/tests/recommendation_api/test_user_impressions_flow.py
  data-products/tests/shared/unit/test_feature_store.py
Due: common_utils_changes, data_products_changes

feat: potential final commit for last flows to migrate
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/data_retention/__init__.py
  data-products/src/data_retention/delete_miscellaneous_table_rows.sql
  data-products/src/data_retention/delete_raw_user_rows.sql
  data-products/src/data_retention/delete_snapshot_firehose_rows.sql
  data-products/src/data_retention/delete_snowplow_events.sql
  data-products/src/data_retention/delete_stripe_table_rows.sql
  data-products/src/data_retention/deleted_account_emails.sql
  data-products/src/data_retention/deleted_account_users.sql
  data-products/src/data_retention/deleted_accounts_flow.py
  data-products/src/data_retention/development_snowflake_schemas_flow.py
  data-products/src/update_pocket_score_data_flow.py
  data-products/tests/data_retention/test_deleted_accounts_flow.py
  data-products/tests/data_retention/test_development_snowflake_schemas_flow.py
  data-products/tests/unit/test_update_pocket_score_data_flow.py
Due: data_products_changes

build: version bump
  data-products/pyproject.toml
Due: data_products_changes

feat: final flows to migrate for data-products (#266)
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/data_retention/__init__.py
  data-products/src/data_retention/delete_miscellaneous_table_rows.sql
  data-products/src/data_retention/delete_raw_user_rows.sql
  data-products/src/data_retention/delete_snapshot_firehose_rows.sql
  data-products/src/data_retention/delete_snowplow_events.sql
  data-products/src/data_retention/delete_stripe_table_rows.sql
  data-products/src/data_retention/deleted_account_emails.sql
  data-products/src/data_retention/deleted_account_users.sql
  data-products/src/data_retention/deleted_accounts_flow.py
  data-products/src/data_retention/development_snowflake_schemas_flow.py
  data-products/src/update_pocket_score_data_flow.py
  data-products/tests/data_retention/test_deleted_accounts_flow.py
  data-products/tests/data_retention/test_development_snowflake_schemas_flow.py
  data-products/tests/unit/test_update_pocket_score_data_flow.py
Due: data_products_changes

feat(data-products): adding proper warehouse usage for 2 flows
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/data_retention/deleted_accounts_flow.py
Due: data_products_changes

style: black formatting and version bump
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
Due: data_products_changes

feat(data-products): adding proper warehouse usage for 2 flows (#267)
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/data_retention/deleted_accounts_flow.py
Due: data_products_changes

feat(new-tab-daily): deprecating monthly data extraction
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/offset.sql
Due: data_products_changes

Feature/msdo 108 turning off glean monthly (#268)
  data-products/pyproject.toml
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/offset.sql
Due: data_products_changes

fix(dev-schema-cleanup): need to enforce connection to development database and that only those schemas are returned
  data-products/src/data_retention/development_snowflake_schemas_flow.py
Due: data_products_changes

refactor(dev-schemas): changing this to a table deletion instead of schema deletion
  data-products/src/data_retention/development_snowflake_schemas_flow.py
Due: data_products_changes

feat: fixing tests and bumping version
  data-products/pyproject.toml
  data-products/tests/data_retention/test_development_snowflake_schemas_flow.py
Due: data_products_changes

feat: removing bad warehouse declaration on the snowflake connector
  data-products/src/data_retention/development_snowflake_schemas_flow.py
Due: data_products_changes

refactor: refactoring flow that cleans up dev tables
  data-products/src/data_retention/snowflake_development_table_clean_up_flow.py
  data-products/tests/data_retention/test_development_snowflake_schemas_flow.py
Due: data_products_changes

style: black formatting
  data-products/src/data_retention/snowflake_development_table_clean_up_flow.py
  data-products/tests/data_retention/test_development_snowflake_schemas_flow.py
Due: data_products_changes

feat(legacy-candidate-sets): removing NEW_TAB_DE_DE longreads
  data-products/src/recommendation_api/legacy_candidate_sets_flow.py
Due: data_products_changes

test: fix unit test for legacy candidate sets
  data-products/tests/recommendation_api/test_legacy_candidate_sets_flow.py
Due: data_products_changes

feat(legacy-candidate-sets): removing NEW_TAB_DE_DE longreads (#270)
  data-products/pyproject.toml
  data-products/src/recommendation_api/legacy_candidate_sets_flow.py
  data-products/tests/recommendation_api/test_legacy_candidate_sets_flow.py
Due: data_products_changes

feat(data-products): adding sla tags and migrating remaining flows to worker based deployment
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/braze/update_flow.py
  data-products/src/data_retention/deleted_accounts_flow.py
  data-products/src/data_retention/development_snowflake_schemas_flow.py
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/src/prospecting/publisher_features_flow.py
  data-products/src/recommendation_api/corpus_candidate_sets_flow.py
  data-products/src/recommendation_api/corpus_item_engagement_flow.py
  data-products/src/recommendation_api/legacy_candidate_sets_flow.py
  data-products/src/recommendation_api/user_impressions_flow.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/update_pocket_score_data_flow.py
Due: data_products_changes

feat(data-products): updating flow names
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

feat(data-products): adding sla tags and migrating remaining flows to worker based deployment (#271)
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/braze/update_flow.py
  data-products/src/data_retention/deleted_accounts_flow.py
  data-products/src/data_retention/development_snowflake_schemas_flow.py
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/src/prospecting/publisher_features_flow.py
  data-products/src/recommendation_api/corpus_candidate_sets_flow.py
  data-products/src/recommendation_api/corpus_item_engagement_flow.py
  data-products/src/recommendation_api/legacy_candidate_sets_flow.py
  data-products/src/recommendation_api/user_impressions_flow.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/update_pocket_score_data_flow.py
Due: data_products_changes

fix: adding read url for mysql
  common-utils/pyproject.toml
  common-utils/src/common/databases/sqlalchemy_utils.py
  common-utils/tests/databases/unit/test_sqlalchemy_utils.py
  data-products/src/shared/utils.py
Due: common_utils_changes, data_products_changes

build: version bump
  common-utils/pyproject.toml
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

test: fix test
  common-utils/tests/databases/unit/test_sqlalchemy_utils.py
Due: common_utils_changes

test: fix test
  data-products/tests/shared/unit/test_utils.py
Due: data_products_changes

Fix/failing prefect flow (#272)
  common-utils/pyproject.toml
  common-utils/src/common/databases/sqlalchemy_utils.py
  common-utils/tests/databases/unit/test_sqlalchemy_utils.py
  data-products/pyproject.toml
  data-products/src/shared/utils.py
  data-products/tests/shared/unit/test_utils.py
Due: common_utils_changes, data_products_changes

feat(freestar): adding auto rotation of api key for freestar. also deprecating some sql_etl deployment
  .aws/src/iam.ts
  common-utils/poetry.lock
  common-utils/pyproject.toml
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/backend_events_for_mozilla/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items_deleted/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items_deleted/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_prospects/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_prospects/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_queued_items/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_queued_items/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/tile_source/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/tile_source/load.sql
  data-products/src/update_pocket_score_data_flow.py
Due: aws_changes, common_utils_changes, data_products_changes

Path conditions:
  aws_changes: any of: [.]aws/.*
  common_utils_changes: any of: common-utils/.*
  data_products_changes: any of: data-products/.*
