Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

feat(common-utils): hanging logic around image naming and account id usage
  common-utils/src/common/deployment/worker/__init__.py
Due: common_utils_changes

Not working, checking in to get feedback on errors
  data-products/src/candidate_sets/legacy_curated_candidates_flow.py
  data-products/src/candidate_sets/legacy_longreads_flow.py
  data-products/src/shared/api_clients/sqs.py
Due: data_products_changes

feat(common-utils): adding continue for non agent flows to agent deployments
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/worker/__init__.py
Due: common_utils_changes

feat(common-utils): changes to support cloning subprojects in repo
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/deployment/worker/cli.py
  common-utils/src/common/deployment/worker/clone_project.sh
  common-utils/src/common/deployment/worker/get_prefect_version.sh
Due: common_utils_changes

fix: use live data and drop non-existing normalized_app_name
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

chore: add comment about duplicate events
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat: remove duplicate events
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat(common-utils): changes and test coverage
  common-utils/pyproject.toml
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/deployment/worker/check_version.py
  common-utils/src/common/deployment/worker/cli.py
  common-utils/src/common/deployment/worker/common_utils_build.sh
  common-utils/tests/deployment/worker/test_flows/example_flow.py
  common-utils/tests/deployment/worker/test_flows/example_legacy_flow.py
  common-utils/tests/deployment/worker/test_flows/flow_group_2/example_flow.py
  common-utils/tests/deployment/worker/test_flows/flow_group_2/example_no_jv_flow.py
  common-utils/tests/deployment/worker/test_flows/flow_group_2/no_spec_example_flow.py
  common-utils/tests/deployment/worker/test_flows/single_flow/example_flow.py
  common-utils/tests/deployment/worker/unit/test_check_version.py
  common-utils/tests/deployment/worker/unit/test_cli.py
  common-utils/tests/deployment/worker/unit/test_deployment.py
Due: common_utils_changes

feat(common-utils): final changes for worker based deployments in CICD
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/deployment/worker/build_image.sh
  common-utils/src/common/deployment/worker/check_version.py
  common-utils/src/common/deployment/worker/cli.py
  common-utils/src/common/deployment/worker/common_utils_build.sh
  common-utils/tests/deployment/worker/test_flows/example_flow.py
  common-utils/tests/deployment/worker/test_flows/example_legacy_flow.py
  common-utils/tests/deployment/worker/unit/test_deployment.py
Due: common_utils_changes

feat: fixing tests and edge cases
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/deployment/worker/cli.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/worker/unit/test_check_version_wk.py
  common-utils/tests/deployment/worker/unit/test_cli_wk.py
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
  common-utils/tests/test_flows/flow_group_1/example_no_agent_flow.py
  common-utils/tests/unit/test_common.py
  data-products/src/example_flow.py
Due: common_utils_changes, data_products_changes

feat: fixing typing and formatting issue
  common-utils/src/common/deployment/worker/cli.py
  common-utils/tests/deployment/worker/unit/test_cli_wk.py
Due: common_utils_changes

test: fixing test
  common-utils/tests/unit/test_common.py
Due: common_utils_changes

test: fixing bad path references in tests
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
Due: common_utils_changes

build: version bump
  data-products/pyproject.toml
Due: data_products_changes

test: removing example flow
  data-products/src/example_flow.py
Due: data_products_changes

adding glean new tab table as source for the fx new tab engagement flows
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_disable_rate_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_disable_rate_by_feed/offset.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_spoc_fill_rate_by_position_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_spoc_fill_rate_by_position_feed/offset.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/offset.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/offset.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/load.sql
Due: data_products_changes

adding new deployments for glean fx new tab extraction
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

updating data products version
  data-products/pyproject.toml
Due: data_products_changes

formatting sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/offset.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
Due: data_products_changes

formatting
  data-products/src/sql_etl/run_jobs_flow.py
Due: data_products_changes

adding not null req to feed name column
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_disable_rate_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_spoc_fill_rate_by_position_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/load.sql
Due: data_products_changes

adding logic to filter for firefox version less than 121
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_daily/firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_daily/firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_daily/firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_daily/firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_hourly/firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_hourly/firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
Due: data_products_changes

feat(data-products): initial commit of rough flow to unify legacy candidate sets
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
  data-products/src/candidate_sets/legacy_curated_candidates_flow.py
  data-products/src/candidate_sets/legacy_longreads_flow.py
  data-products/src/shared/api_clients/sqs.py
Due: data_products_changes

feat(data-products): optimizations to flow based on testing
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
Due: data_products_changes

removing stray comments
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
Due: data_products_changes

Changing new tab extraction sources (#253)
  data-products/pyproject.toml
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_daily/firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_daily/firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_daily/firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_daily/firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_hourly/firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/firefox_new_tab_impressions_hourly/firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_disable_rate_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_disable_rate_by_feed/offset.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_spoc_fill_rate_by_position_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_spoc_fill_rate_by_position_feed/offset.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/offset.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_monthly_unique_engagement_by_feed/offset.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/load.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/load.sql
Due: data_products_changes

feat: adding logic for secrets manager based settings
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/databases/sqlalchemy_utils.py
  common-utils/src/common/settings.py
  common-utils/tests/cloud/unit/test_gcp_utils.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/databases/unit/test_sqlalchemy_utils.py
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
  data-products/src/candidate_sets/legacy_curated_candidates_flow.py
  data-products/src/candidate_sets/legacy_longreads_flow.py
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/src/shared/utils.py
Due: common_utils_changes, data_products_changes

feat(common-utils): implement flow deployment for worker based flow submission (#252)
  .gitignore
  .prefectignore
  common-utils/pyproject.toml
  common-utils/src/common/__init__.py
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/deployment/worker/build_image.sh
  common-utils/src/common/deployment/worker/check_version.py
  common-utils/src/common/deployment/worker/cli.py
  common-utils/src/common/deployment/worker/clone_project.sh
  common-utils/src/common/deployment/worker/common_utils_build.sh
  common-utils/src/common/deployment/worker/get_prefect_version.sh
  common-utils/src/common/deployment/worker/push_aws_image.sh
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/worker/test_flows/example_flow.py
  common-utils/tests/deployment/worker/test_flows/example_legacy_flow.py
  common-utils/tests/deployment/worker/test_flows/flow_group_2/example_flow.py
  common-utils/tests/deployment/worker/test_flows/flow_group_2/example_no_jv_flow.py
  common-utils/tests/deployment/worker/test_flows/flow_group_2/no_spec_example_flow.py
  common-utils/tests/deployment/worker/test_flows/single_flow/example_flow.py
  common-utils/tests/deployment/worker/unit/test_check_version_wk.py
  common-utils/tests/deployment/worker/unit/test_cli_wk.py
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
  common-utils/tests/test_flows/flow_group_1/example_no_agent_flow.py
  common-utils/tests/unit/test_common.py
  data-products/.docker/base_v2/Dockerfile
  data-products/.prefectignore
  data-products/poetry.lock
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

feat: changes to support commit comments for legacy candidate sets and changes to support worker deployments with proper CICD and secrets usage
  .circleci/workflows.yml
  common-utils/src/common/cloud/aws_utils.py
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/databases/sqlalchemy_utils.py
  common-utils/src/common/settings.py
  data-products/src/candidate_sets/candidate_config.py
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
  data-products/src/candidate_sets/legacy_curated_candidates_flow.py
  data-products/src/candidate_sets/legacy_longreads_flow.py
Due: common_utils_changes, data_products_changes

build: adding new docker image config for worker based deployments
  data-products/pyproject.toml
Due: data_products_changes

feat(data-products): adding flow spec and schedule for topics
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
Due: data_products_changes

feat(common-utils): making sure schedules are disabled in non prod environments
  common-utils/src/common/deployment/worker/__init__.py
Due: common_utils_changes

feat: final work for worker based deployment implementation
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/run_pytest.sh
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/databases/sqlalchemy_utils.py
  common-utils/src/common/deployment/check_version.py
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/deployment/worker/check_version.py
  common-utils/tests/cloud/unit/test_aws_utils.py
  common-utils/tests/cloud/unit/test_gcp_utils.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/deployment/unit/test_cli.py
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
  common-utils/tests/unit/test_settings.py
Due: common_utils_changes

feat: final work for worker based deployment implementation
  .circleci/workflows.yml
Due: none

feat: changes to support worker based deployment of legacy sets flow
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat: updating docker file and __init__.py
  data-products/.docker/worker/base/Dockerfile
  data-products/src/candidate_sets/__init__.py
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
Due: data_products_changes

feat: updating flow specific library to relative import
  data-products/.docker/worker/base/Dockerfile
  data-products/src/candidate_sets/legacy_candidate_sets_flow.py
Due: data_products_changes

feat: updating envars
  common-utils/pyproject.toml
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/settings.py
  common-utils/tests/conftest.py
Due: common_utils_changes

feat(common-utils): adding bits to support deploying this flow using the worker pattern
  .circleci/workflows.yml
  .gitignore
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/run_pytest.sh
  common-utils/src/common/__init__.py
  common-utils/src/common/cloud/aws_utils.py
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/databases/sqlalchemy_utils.py
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/deployment/worker/build_image.sh
  common-utils/src/common/deployment/worker/check_version.py
  common-utils/src/common/deployment/worker/cli.py
  common-utils/src/common/deployment/worker/clone_project.sh
  common-utils/src/common/deployment/worker/common_utils_build.sh
  common-utils/src/common/deployment/worker/get_prefect_version.sh
  common-utils/src/common/deployment/worker/push_aws_image.sh
  common-utils/src/common/settings.py
  common-utils/tests/cloud/unit/test_aws_utils.py
  common-utils/tests/cloud/unit/test_gcp_utils.py
  common-utils/tests/conftest.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/databases/unit/test_sqlalchemy_utils.py
  common-utils/tests/deployment/unit/test_cli.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/worker/test_flows/example_flow.py
  common-utils/tests/deployment/worker/test_flows/example_legacy_flow.py
  common-utils/tests/deployment/worker/test_flows/flow_group_2/example_flow.py
  common-utils/tests/deployment/worker/test_flows/flow_group_2/example_no_jv_flow.py
  common-utils/tests/deployment/worker/test_flows/flow_group_2/no_spec_example_flow.py
  common-utils/tests/deployment/worker/test_flows/single_flow/example_flow.py
  common-utils/tests/deployment/worker/unit/test_check_version_wk.py
  common-utils/tests/deployment/worker/unit/test_cli_wk.py
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
  common-utils/tests/test_flows/flow_group_1/example_no_agent_flow.py
  common-utils/tests/unit/test_common.py
  common-utils/tests/unit/test_settings.py
  data-products/.docker/worker/base/Dockerfile
Due: common_utils_changes, data_products_changes

feat(data-products): changes to new tab flow and adding more changes to support worker based deployment
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/src/shared/utils.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

Path conditions:
  aws_changes: any of: [.]aws/.*
  common_utils_changes: any of: common-utils/.*
  data_products_changes: any of: data-products/.*
