Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

feat(common-utils): adding disable for gcp settings to allow for local ADC gcp credentials
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat(common-utils): adding disable for gcp settings to allow for ADC local credentials
  common-utils/src/common/cloud/gcp_utils.py
Due: common_utils_changes

feat(data-products): updating another Pkt reference
  data-products/src/shared/utils.py
Due: data_products_changes

feat(data-products): fixing dataset references
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat(data-products): adding missing semicolon
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat(data-products): fixing dataset creation for real this time
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat(data-products): attempting another fix for dataset creation
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat(common-utils): adding default tags to deployments
  common-utils/src/common/deployment/worker/__init__.py
Due: common_utils_changes

feat(data-products): removing dataset creation
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

test: updating tests
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/testing_utils.py
  common-utils/tests/conftest.py
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
  common-utils/tests/unit/test_testing_utils.py
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/conftest.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: common_utils_changes, data_products_changes

style: black formatting and version bumps
  common-utils/pyproject.toml
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/unit/test_settings.py
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

build: fixing bad prefect deploy command
  .circleci/workflows.yml
Due: none

build: adding a log message and fix to ci
  .circleci/workflows.yml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

build: fixing bad deploy command
  .circleci/workflows.yml
Due: none

feat(data-products): implementing live view
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

build: fixing git_sha logic
  .circleci/workflows.yml
  common-utils/src/common/deployment/worker/__init__.py
Due: common_utils_changes

feat(aggregate_engagement): Query Glean and Activity Stream (#249)
  .circleci/workflows.yml
  common-utils/poetry.lock
  common-utils/pyproject.toml
  common-utils/run_pytest.sh
  common-utils/src/common/cloud/aws_utils.py
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/src/common/databases/snowflake_utils.py
  common-utils/src/common/databases/sqlalchemy_utils.py
  common-utils/src/common/deployment/check_version.py
  common-utils/src/common/deployment/worker/__init__.py
  common-utils/src/common/deployment/worker/check_version.py
  common-utils/src/common/settings.py
  common-utils/src/common/testing_utils.py
  common-utils/tests/cloud/unit/test_aws_utils.py
  common-utils/tests/cloud/unit/test_gcp_utils.py
  common-utils/tests/conftest.py
  common-utils/tests/databases/unit/test_snowflake_utils.py
  common-utils/tests/databases/unit/test_sqlalchemy_utils.py
  common-utils/tests/deployment/unit/test_cli.py
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
  common-utils/tests/unit/test_settings.py
  common-utils/tests/unit/test_testing_utils.py
  data-products/.docker/worker/base/Dockerfile
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/src/shared/utils.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/tests/conftest.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
  data-products/tests/utils.py
Due: common_utils_changes, data_products_changes

fix(common-utils): giving bad clone branch
  common-utils/pyproject.toml
  common-utils/src/common/deployment/worker/__init__.py
Due: common_utils_changes

fix(common-utils): giving bad clone branch (#254)
  common-utils/pyproject.toml
  common-utils/src/common/deployment/worker/__init__.py
Due: common_utils_changes

fix: need to be able to create the dataset as part of the flow
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

build(data-products): version bump
  data-products/pyproject.toml
Due: data_products_changes

fix: reverting new version of aggregate engagement flow
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

test(data-products): reverting tests as well
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

fix: need to be able to create the dataset as part of the flow (#255)
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

feat(freestar): final commits for refactor of freestar flow
  data-products/.docker/worker/base/Dockerfile
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/__init__.py
  data-products/src/article_text_streaming/__init__.py
  data-products/src/freestar_revenue_reporting/__init__.py
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/shared/async_utils.py
  data-products/tests/freestar_revenue_reporting/unit/test_freestar_reporting_flow.py
Due: data_products_changes

build(freestar): updating flow names
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
Due: data_products_changes

feat(data-products): install shared lib in docker
  data-products/.docker/worker/base/Dockerfile
Due: data_products_changes

build(data-products): fixing use of shared in docker image
  data-products/.docker/worker/base/Dockerfile
Due: data_products_changes

ci(common-utils): changing how github repo is fetched
  .circleci/workflows.yml
  common-utils/src/common/deployment/worker/__init__.py
Due: common_utils_changes

build(common-utils): version bump
  common-utils/pyproject.toml
Due: common_utils_changes

feat(freestar): Freestar flow refactor to enable backfill and idempotent execution (#256)
  .circleci/workflows.yml
  common-utils/pyproject.toml
  common-utils/src/common/deployment/worker/__init__.py
  data-products/.docker/worker/base/Dockerfile
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/__init__.py
  data-products/src/article_text_streaming/__init__.py
  data-products/src/freestar_revenue_reporting/__init__.py
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/shared/async_utils.py
  data-products/tests/freestar_revenue_reporting/unit/test_freestar_reporting_flow.py
Due: common_utils_changes, data_products_changes

feat(new_tab_recommendations): adding back new implementation and tests
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

feat(common-utils): adding test coverage for new v2 gcp credentials...this will help is in migrating flows to sing the mozsocial-dw projects
  common-utils/pyproject.toml
  common-utils/src/common/cloud/gcp_utils.py
  common-utils/tests/cloud/unit/test_gcp_utils.py
Due: common_utils_changes

feat: adding usage of new gcp credentials
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

feat(braze): changes to support migration of braze update flow to v2
  data-products/pyproject.toml
  data-products/src/braze/__init__.py
  data-products/src/braze/update_flow.py
  data-products/src/prospecting/postreview_engagement_feature_store_flow.py
  data-products/src/prospecting/prereview_engagement_feature_store_flow.py
  data-products/src/prospecting/publisher_features.py
  data-products/src/prospecting/sql/publisher_features.sql
  data-products/src/shared/api_clients/braze/__init__.py
  data-products/src/shared/api_clients/braze/client.py
  data-products/src/shared/api_clients/braze/models.py
  data-products/src/shared/api_clients/braze/pocket_config.py
  data-products/src/shared/api_clients/braze/utils.py
  data-products/src/shared/dataclass_utils.py
  data-products/src/shared/iteration_utils.py
  data-products/src/shared/tasks.py
  data-products/tests/braze/test_braze.py
Due: data_products_changes

feat: adding new snowflake df task and adding code for migrating publisher_features flow
  common-utils/src/common/databases/snowflake_utils.py
  data-products/src/braze/update_flow.py
  data-products/src/prospecting/postreview_engagement_feature_store_flow.py
  data-products/src/prospecting/prereview_engagement_feature_store_flow.py
  data-products/src/prospecting/publisher_features.py
  data-products/src/prospecting/sql/publisher_features.sql
  data-products/src/shared/offset_utils.py
Due: common_utils_changes, data_products_changes

build(braze): fix deployment name
  data-products/src/braze/update_flow.py
Due: data_products_changes

feat(braze): updating email expression logic
  data-products/src/braze/update_flow.py
Due: data_products_changes

Path conditions:
  aws_changes: any of: [.]aws/.*
  common_utils_changes: any of: common-utils/.*
  data_products_changes: any of: data-products/.*
