Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

build: version bump
  data-products/pyproject.toml
Due: data_products_changes

fix(sql_etl): the extracted data that is being merged has multiple happened_dates so it need to be a range on the delete (#291)
  data-products/pyproject.toml
  data-products/src/sql_etl/sql/extras/helpers.j2
Due: data_products_changes

fix: apply timezone filtering to android recs (#287)
  data-products/pyproject.toml
  data-products/src/recommendation_api/sql/recommended_by_recency.sql
Due: data_products_changes

refactor(data_products): more refactoring of firefox extract
  data-products/src/firefox_newtab/run_jobs_flow.py
Due: data_products_changes

refactor(common-utils): removing old deployment logic
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/build_image.sh
  common-utils/src/common/deployment/check_version.py
  common-utils/src/common/deployment/cli.py
  common-utils/src/common/deployment/push_image.sh
  common-utils/tests/deployment/unit/testDockerfile
  common-utils/tests/deployment/unit/testDockerfile1
  common-utils/tests/deployment/unit/testDockerfile2
  common-utils/tests/deployment/unit/test_check_version.py
  common-utils/tests/deployment/unit/test_cli.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
  common-utils/tests/test_flows/flow_group_1/.prefectignore
  common-utils/tests/test_flows/flow_group_1/example_flow.py
  common-utils/tests/test_flows/flow_group_1/example_no_agent_flow.py
  common-utils/tests/test_flows/flow_group_2/.prefectignore
  common-utils/tests/test_flows/flow_group_2/example_flow.py
  common-utils/tests/test_flows/flow_group_2/no_spec_example_flow.py
Due: common_utils_changes

refactor(circleci): removing old deployment logic from circleci config
  .circleci/workflows.yml
Due: none

build(common-utils): version bump
  common-utils/pyproject.toml
Due: common_utils_changes

adding column scheduled_corpus_item_id
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
Due: data_products_changes

bumping version
  data-products/pyproject.toml
Due: data_products_changes

fix(corpus_candidate_sets): adding logic to support a multiline SQL statement
  data-products/src/recommendation_api/corpus_candidate_sets_flow.py
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: data_products_changes

fix(corpus_candidate_sets): adding filter to omit null TOPIC values for recommended_by_recency
  data-products/src/recommendation_api/sql/recommended_by_recency.sql
Due: data_products_changes

refactor(common-utils): removing the deploy-cli deployment from poetry configs
  common-utils/pyproject.toml
Due: common_utils_changes

ci(circleci): update version check to new cli
  .circleci/workflows.yml
Due: none

build: version bump
  .circleci/workflows.yml
  data-products/pyproject.toml
Due: data_products_changes

style: forgot to uncomment some code
  data-products/src/recommendation_api/corpus_candidate_sets_flow.py
Due: data_products_changes

Update data-products/src/recommendation_api/sql/recommended_by_recency.sql
  data-products/src/recommendation_api/sql/recommended_by_recency.sql
Due: data_products_changes

refactor(common-utils): removing old deployment logic and fixing recommended_by_recency (#292)
  .circleci/workflows.yml
  common-utils/pyproject.toml
  common-utils/src/common/deployment/__init__.py
  common-utils/src/common/deployment/build_image.sh
  common-utils/src/common/deployment/check_version.py
  common-utils/src/common/deployment/cli.py
  common-utils/src/common/deployment/push_image.sh
  common-utils/tests/deployment/unit/testDockerfile
  common-utils/tests/deployment/unit/testDockerfile1
  common-utils/tests/deployment/unit/testDockerfile2
  common-utils/tests/deployment/unit/test_check_version.py
  common-utils/tests/deployment/unit/test_cli.py
  common-utils/tests/deployment/unit/test_deployment.py
  common-utils/tests/deployment/unit/test_deployment_disable_inf.py
  common-utils/tests/test_flows/flow_group_1/.prefectignore
  common-utils/tests/test_flows/flow_group_1/example_flow.py
  common-utils/tests/test_flows/flow_group_1/example_no_agent_flow.py
  common-utils/tests/test_flows/flow_group_2/.prefectignore
  common-utils/tests/test_flows/flow_group_2/example_flow.py
  common-utils/tests/test_flows/flow_group_2/no_spec_example_flow.py
  data-products/pyproject.toml
  data-products/src/recommendation_api/corpus_candidate_sets_flow.py
  data-products/src/recommendation_api/sql/recommended_by_recency.sql
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: common_utils_changes, data_products_changes

ci: the logic for appending project name automatically is not working so just removing it
  common-utils/src/common/deployment/worker/__init__.py
  data-products/src/article_text_streaming/article_text_streaming_flow.py
  data-products/src/braze/update_flow.py
  data-products/src/data_retention/deleted_accounts_flow.py
  data-products/src/data_retention/snowflake_development_table_clean_up_flow.py
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/src/prospecting/publisher_features_flow.py
  data-products/src/recommendation_api/corpus_candidate_sets_flow.py
  data-products/src/recommendation_api/corpus_item_engagement_flow.py
  data-products/src/recommendation_api/legacy_candidate_sets_flow.py
  data-products/src/recommendation_api/user_impressions_flow.py
Due: common_utils_changes, data_products_changes

refactor(firefox_newtab): finished refactor and added tests
  data-products/pyproject.toml
  data-products/src/firefox_newtab/run_jobs_flow.py
  data-products/src/firefox_newtab/sql/firefox_new_tab_impressions_daily/firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/firefox_newtab/sql/firefox_new_tab_impressions_daily/firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
  data-products/src/firefox_newtab/sql/firefox_new_tab_impressions_daily/firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/firefox_newtab/sql/firefox_new_tab_impressions_daily/firefox_new_tab_monthly_unique_engagement_by_feed/data.sql
  data-products/src/firefox_newtab/sql/firefox_new_tab_impressions_hourly/firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/firefox_newtab/sql/firefox_new_tab_impressions_hourly/firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_unique_engagement_by_feed/data.sql
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
  data-products/src/shared/utils.py
  data-products/tests/firefox_newtab/unit/sql/test/data.sql
  data-products/tests/firefox_newtab/unit/sql/test/load.sql
  data-products/tests/firefox_newtab/unit/sql/test/sub_folder_1/data.sql
  data-products/tests/firefox_newtab/unit/sql/test/sub_folder_1/load.sql
  data-products/tests/firefox_newtab/unit/sql/test/sub_folder_2/data.sql
  data-products/tests/firefox_newtab/unit/sql/test/sub_folder_2/load.sql
  data-products/tests/firefox_newtab/unit/test_run_jobs_flow.py
  data-products/tests/shared/unit/test_utils.py
  data-products/tests/sql_etl/unit/sql/test/offset.sql
  data-products/tests/sql_etl/unit/sql/test_bad_engine/data.sql
  data-products/tests/sql_etl/unit/sql/test_non_incremental/data.sql
  data-products/tests/sql_etl/unit/sql/test_sub_folders/sub_folder_1/offset.sql
  data-products/tests/sql_etl/unit/sql/test_sub_folders/sub_folder_2/offset.sql
  data-products/tests/sql_etl/unit/test_run_jobs_flow.py
  data-products/tests/sql_etl/unit/test_run_sub_folders.py
Due: data_products_changes

build: version bump
  common-utils/pyproject.toml
Due: common_utils_changes

test(common-utils): fixing test
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
Due: common_utils_changes

style: black formatting
  common-utils/tests/deployment/worker/unit/test_deployment_wk.py
  data-products/tests/firefox_newtab/unit/test_run_jobs_flow.py
Due: common_utils_changes, data_products_changes

test: fixing test
  data-products/src/firefox_newtab/run_jobs_flow.py
  data-products/tests/firefox_newtab/unit/test_run_jobs_flow.py
Due: data_products_changes

refactor(firefox_newtab): removing bad jinja code
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_disable_rate_by_feed/data.sql
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_daily/glean_firefox_new_tab_daily_spoc_fill_rate_by_position_feed/data.sql
Due: data_products_changes

build(data-products): removing package that was installed in error
  data-products/poetry.lock
  data-products/pyproject.toml
Due: data_products_changes

adding new job to flow to bring in scheduled_corpus_item_id
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_corpus_item_id_position_country_locale/data.sql
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_corpus_item_id_position_country_locale/load.sql
Due: data_products_changes

updating comment
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_corpus_item_id_position_country_locale/data.sql
Due: data_products_changes

updating directory name
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_scheduled_corpus_item_id_position_country_locale/data.sql
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_scheduled_corpus_item_id_position_country_locale/load.sql
Due: data_products_changes

updating comment referencing old fields
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_scheduled_corpus_item_id_position_country_locale/data.sql
Due: data_products_changes

MC 1255 adding new job to flow with scheduled_corpus_item_id (#295)
  data-products/pyproject.toml
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_scheduled_corpus_item_id_position_country_locale/data.sql
  data-products/src/firefox_newtab/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_scheduled_corpus_item_id_position_country_locale/load.sql
Due: data_products_changes

updating sql to exclude article with null values causing failure:
  data-products/src/recommendation_api/sql/scheduled_syndicated.sql
Due: data_products_changes

adding comment with jira ticket number
  data-products/src/recommendation_api/sql/scheduled_syndicated.sql
Due: data_products_changes

Deng 4478 fix validation issue (#296)
  data-products/pyproject.toml
  data-products/src/recommendation_api/sql/scheduled_syndicated.sql
Due: data_products_changes

feat(locales): adding in new candidate set locales
  data-products/pyproject.toml
  data-products/src/recommendation_api/corpus_candidate_sets_flow.py
  data-products/src/recommendation_api/sql/life_hacks.sql
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: data_products_changes

fix(candidate set): updating typo
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: data_products_changes

Path conditions:
  aws_changes: any of: [.]aws/.*
  common_utils_changes: any of: common-utils/.*
  data_products_changes: any of: data-products/.*
