Repository Pocket/data-flows: changes, and which CircleCI parameters are due for each by the changed paths.
All: aws_changes, common_utils_changes, data_products_changes

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3 # https://circleci.com/developer/orbs/orb/circleci/path-filtering
workflows:
  generate-config:
    jobs:
      # This configuration controls how parameters are passed to workflows.yml
      # workflows.yml is where the CI/CD jobs and workflows live
      # These booleans control whether we run certain job steps
      # This is meant to provide a 'monorepo' build approach
      # The path regex tell us what change groups we are currently interested in
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            [.]aws/.* aws_changes true
            common-utils/.* common_utils_changes true
            data-products/.* data_products_changes true

feat(aws): removing prefect agent service
  .aws/package-lock.json
  .aws/src/iam.ts
  .aws/src/main.ts
Due: aws_changes

test(freestar): fixing tests and removing print statment
  data-products/pyproject.toml
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/tests/freestar_revenue_reporting/unit/test_freestar_reporting_flow.py
Due: data_products_changes

feat(aws): adding missing usaged of updateSecrets
  .aws/src/iam.ts
Due: aws_changes

build: version bump
  common-utils/pyproject.toml
  data-products/pyproject.toml
Due: common_utils_changes, data_products_changes

feat(tests): removing test for deleted flow
  data-products/tests/unit/test_update_pocket_score_data_flow.py
Due: data_products_changes

feature(freestar/aws)adding access token refresh to freestar and removing prefect agent service (#273)
  .aws/package-lock.json
  .aws/src/iam.ts
  .aws/src/main.ts
  common-utils/poetry.lock
  common-utils/pyproject.toml
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/freestar_revenue_reporting/freestar_reporting_flow.py
  data-products/src/sql_etl/run_jobs_flow.py
  data-products/src/sql_etl/sql/backend_events_for_mozilla/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items_deleted/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_items_deleted/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_prospects/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_prospects/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_queued_items/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/curated_feed_queued_items/load.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/tile_source/data.sql
  data-products/src/sql_etl/sql/curated_feed_exports_aurora/tile_source/load.sql
  data-products/src/update_pocket_score_data_flow.py
  data-products/tests/freestar_revenue_reporting/unit/test_freestar_reporting_flow.py
  data-products/tests/unit/test_update_pocket_score_data_flow.py
Due: aws_changes, common_utils_changes, data_products_changes

feat(pocket-worthy): adding in pocket worthy syndication
  data-products/pyproject.toml
  data-products/src/recommendation_api/sql/scheduled_syndicated.sql
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: data_products_changes

feat(pocket-worthy): adding in pocket worthy syndication (#274)
  data-products/pyproject.toml
  data-products/src/recommendation_api/sql/scheduled_syndicated.sql
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: data_products_changes

build: version bump
  data-products/pyproject.toml
Due: data_products_changes

Feature/fix dev schema deletion (#269)
  data-products/pyproject.toml
  data-products/src/data_retention/snowflake_development_table_clean_up_flow.py
  data-products/tests/data_retention/test_development_snowflake_schemas_flow.py
Due: data_products_changes

fix: fixing iam perms
  .aws/src/iam.ts
Due: aws_changes

feat: updating iam
  .aws/src/iam.ts
Due: aws_changes

feat: secret update for freestar is not working
  .aws/src/iam.ts
Due: aws_changes

style: npm prettier
  .aws/src/iam.ts
Due: aws_changes

Finally getting the IAM role to work for having the Freestar Token auto-refresh (#275)
  .aws/src/iam.ts
Due: aws_changes

fix(sql_etl): the hourly glean extract can send a string as the position value as an edge case. adding a safe_cast to set strings to -1
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
Due: data_products_changes

fix(sql_etl): the hourly glean extract can send a string as the position value (#276)
  data-products/pyproject.toml
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
Due: data_products_changes

feat(label): create slate from a collection label
  src/flows/recommendation_api/corpus_candidate_sets/sql/labeled_collection_stories.sql
  src/models/corpus_candidate_set_configs.py
Due: none

feat(collection): turn a few collection labels into slates
  data-products/pyproject.toml
  data-products/src/recommendation_api/sql/labeled_collection_stories.sql
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: data_products_changes

feat(pride): loading pride collection stories for a slate
  data-products/src/recommendation_api/sql/labeled_collection_stories.sql
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: data_products_changes

feat: aggregate CA New Tab engagement
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

fix: formatting error
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

test(new_tab_recommendations): adding missing patches to tests
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

fix: missing import of async_patch in tests
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

fix: remove unused parameter region
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
Due: data_products_changes

feat: aggregate CA New Tab engagement (#279)
  data-products/poetry.lock
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

fix(german-pride): adding in germany candidate set
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: data_products_changes

feat(pride): create a pride slate from collections (#278)
  data-products/pyproject.toml
  data-products/src/recommendation_api/sql/labeled_collection_stories.sql
  data-products/src/shared/models/corpus_candidate_set_configs.py
  data-products/tests/recommendation_api/test_corpus_candidate_sets_flow.py
Due: data_products_changes

fix(aws): Move to S3 backend instead of TFCloud.
  .aws/.terraform-version
  .aws/src/main.ts
  .circleci/workflows.yml
Due: aws_changes

fix(labeled-collections): ensuring that the stories in collection slates always have a topic and publisher
  data-products/pyproject.toml
  data-products/src/recommendation_api/sql/labeled_collection_stories.sql
Due: data_products_changes

fix(docker): use current docker
  .circleci/workflows.yml
Due: none

fix(labeled-collections): ensuring that the stories in collection slates always have a topic and publisher (#282)
  .circleci/workflows.yml
  data-products/pyproject.toml
  data-products/src/recommendation_api/sql/labeled_collection_stories.sql
Due: data_products_changes

fix: [MC-1125] Fix missing engagement for Thompson sampling
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

bump data-products version
  data-products/pyproject.toml
Due: data_products_changes

fix: [MC-1125] Fix missing engagement for Thompson sampling (#280)
  data-products/pyproject.toml
  data-products/src/new_tab_recommendations/aggregate_engagement_flow.py
  data-products/tests/new_tab_recommendations/test_aggregate_engagement_flow.py
Due: data_products_changes

fix(aws): Move to S3 backend instead of TFCloud. (#281)
  .aws/.terraform-version
  .aws/src/main.ts
  .circleci/workflows.yml
Due: aws_changes

filtering out tile id that is failing pipeline
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
Due: data_products_changes

bumping version
  data-products/pyproject.toml
Due: data_products_changes

filtering out tile id that is failing pipeline (#283)
  data-products/pyproject.toml
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position/data.sql
  data-products/src/sql_etl/sql/glean_firefox_new_tab_impressions_hourly/glean_firefox_new_tab_daily_engagement_by_tile_id_position_country_locale/data.sql
Due: data_products_changes
